<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <!--    <script type="text/javascript" th:src="@{/js/event.js}"></script>-->
</head>

    <th:block th:replace="fragments/logoutHeader :: logoutHeaderFragment"></th:block>
    <section>
        <th:block th:replace="fragments/creatorNav :: creatorNavFragment"></th:block>
        <th:block layout:fragment="content"></th:block>
    </section>
    <th:block th:replace="fragments/footer :: footerFragment"></th:block>

</html>