<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/storyPage.css"
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=La+Belle+Aurore&family=Lemon&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=La+Belle+Aurore&family=Lemon&family=Lemonada:wght@300..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=La+Belle+Aurore&family=Lemon&family=Lemonada:wght@300..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oooh+Baby&display=swap" rel="stylesheet">
</head>
<body>
<!-- <header class="header">
    <iframe src="../기본템플렛/header.html" width="100%" height="300px" frameborder="0"></iframe>
</header> -->

<section>
    <div class="contents">
        <div class="sectionHeader">
            반려동물의 건강과 행복한 삶의 동반자<span>, Companimal</span>
        </div>
        <img class="mainPic" src="/static/image/dogPics.png">
    </div>

    <div class="text">
        <div class="textHeader">Companimal = companion + animal</div>
        <div class="text1"><span>Companimal</span> 은 동반자라는 의미의 <span>'companion'</span>과</div>
        <div class="text2">동물을 뜻하는 <span>'animal'</span> 합성어 입니다.</div>
        <div class="text3">반려동물과 반려인의 행복과 건강을 위한 제품을</div>
        <div class="text4">더 쉽게, 더 편하게, 부담 없이 접할 수 있도록 하고,</div>
        <div class="text5">이를 통해 세상에 존재하는 많은 반려동물과 반려인들의 특별한 순간을</div>
        <div class="text6">더욱 더 특별하게 만들어 주고자 합니다.</div>
    </div>

    <div class="CompanimalSign">Companimal</div>
</section>


<!-- <footer class="footer">
    <iframe src="./기본템플렛/footer.html" width="100%" height="200px" frameborder="0"></iframe>
</footer> -->
</body>
</html>