<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.companimal.semiProject.evaluation.model.dao.EvaluationMapper">

    <resultMap id="calculationResultMap" type="com.companimal.semiProject.evaluation.model.dto.CalculationListDTO">
        <id property="proCode" column="pro_code" />
        <result property="calReqDatetime" column="cal_req_datetime" />
        <result property="calAppDatetime" column="cal_app_datetime" />
        <result property="calStatus" column="cal_status" />
    </resultMap>

    <resultMap id="orderPaymentResultMap" type="com.companimal.semiProject.order.model.dto.OrderPaymentDTO">
        <id property="orderNo" column="order_no" />
        <result property="orderDate" column="order_date" />
        <result property="memId" column="mem_id" />
        <result property="address" column="address" />
        <result property="request" column="request" />
        <result property="recipient" column="recipient" />
        <result property="finalPay" column="final_pay" />
        <result property="proCode" column="pro_code" />
        <result property="couCode" column="cou_code" />
        <result property="purchaseStatus" column="purchase_status" />
    </resultMap>

    <resultMap id="projectResultMap" type="com.companimal.semiProject.project.model.dto.ProjectDTO">
        <id property="proCode" column="pro_code"/>
        <result property="proName" column="pro_name"/>
        <result property="proIntro" column="pro_intro"/>
        <result property="goalAmount" column="goal_amount"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="proStory" column="pro_story"/>
        <result property="polNoRefund" column="pol_no_refund"/>
        <result property="polAs" column="pol_as"/>
        <result property="memId" column="mem_id"/>
        <result property="estDate" column="est_date"/>
        <result property="achRate" column="ach_rate"/>
        <result property="delStatus" column="del_status"/>
        <result property="cateMain" column="cate_main"/>
        <result property="cateSub" column="cate_sub"/>
        <collection property="orderPayment" resultMap="orderPaymentResultMap" />
    </resultMap>

    <resultMap id="evaCalListResultMap" type="com.companimal.semiProject.evaluation.model.dto.CalculationListDTO">
        <id property="proCode" column="pro_code" />
        <result property="calReqDatetime" column="cal_req_datetime" />
        <result property="calAppDatetime" column="cal_app_datetime" />
        <result property="calStatus" column="cal_status" />
        <association property="project" resultMap="projectResultMap" />
    </resultMap>

    <resultMap id="CreatorEvaluationResultMap" type="com.companimal.semiProject.evaluation.model.dto.CreatorEvaluationDTO">
        <id property="evaNum" column="EVA_NUM" />
        <result property="evaDatetime" column="EVA_DATETIME" />
        <result property="evaSituation" column="EVA_SITUATION" />
        <result property="reaRejection" column="REA_REJECTION" />
        <result property="memId" column="MEM_ID" />
        <result property="creInqPhone" column="CRE_INQ_PHONE" />
        <result property="creInqEmail" column="CRE_INQ_EMAIL" />
        <result property="creImgName" column="CRE_IMG_NAME" />
        <result property="creImgPath" column="CRE_IMG_PATH" />
        <result property="creImgOriName" column="CRE_IMG_ORI_NAME" />
        <result property="bankName" column="BANK_NAME" />
        <result property="accountNo" column="ACCOUNT_NO" />
        <result property="depositorName" column="DEPOSITOR_NAME" />
        <result property="busiNum" column="BUSI_NUM" />
        <result property="busiName" column="BUSI_NAME" />
        <result property="busiDate" column="BUSI_DATE" />
        <result property="busiType" column="BUSI_TYPE" />
        <result property="busiIndu" column="BUSI_INDUSTRY" />
        <result property="busiLoca" column="BUSI_LOCA" />
        <result property="busiSize" column="BUSI_SIZE" />
        <result property="busiUrl" column="BUSI_URL" />
        <result property="authName" column="AUTH_NAME" />
        <result property="authNum" column="AUTH_NUM" />
        <result property="creatorType" column="CREATOR_TYPE"/>
    </resultMap>

    <resultMap id="CreatorEvaluationDetailResultMap" type="com.companimal.semiProject.evaluation.model.dto.CreatorEvaluationDetailDTO">
        <id property="evaNum" column="EVA_NUM" />
        <result property="evaDatetime" column="EVA_DATETIME" />
        <result property="evaSituation" column="EVA_SITUATION" />
        <result property="reaRejection" column="REA_REJECTION" />
        <result property="memId" column="MEM_ID" />
        <result property="creInqPhone" column="CRE_INQ_PHONE" />
        <result property="creInqEmail" column="CRE_INQ_EMAIL" />
        <result property="creImgName" column="CRE_IMG_NAME" />
        <result property="creImgPath" column="CRE_IMG_PATH" />
        <result property="creImgOriName" column="CRE_IMG_ORI_NAME" />
        <result property="bankName" column="BANK_NAME" />
        <result property="accountNo" column="ACCOUNT_NO" />
        <result property="depositorName" column="DEPOSITOR_NAME" />
        <result property="busiNum" column="BUSI_NUM" />
        <result property="busiName" column="BUSI_NAME" />
        <result property="busiDate" column="BUSI_DATE" />
        <result property="busiType" column="BUSI_TYPE" />
        <result property="busiIndu" column="BUSI_INDUSTRY" />
        <result property="busiLoca" column="BUSI_LOCA" />
        <result property="busiSize" column="BUSI_SIZE" />
        <result property="busiUrl" column="BUSI_URL" />
        <result property="authName" column="AUTH_NAME" />
        <result property="authNum" column="AUTH_NUM" />
        <result property="creatorType" column="CREATOR_TYPE"/>
        <collection property="files" ofType="com.companimal.semiProject.evaluation.model.dto.CreatorFileDTO">
            <result property="creFilePath" column="CRE_FILE_PATH"/>
            <result property="creFileName" column="CRE_FILE_NAME"/>
            <result property="creFileOriName" column="CRE_FILE_ORI_NAME"/>
        </collection>
    </resultMap>

    <select id="selectCreatorEvaluationList" resultMap="CreatorEvaluationResultMap">
        SELECT
            C.MEM_ID ,
            E.EVA_NUM ,
            E.EVA_DATETIME ,
            E.EVA_SITUATION ,
            E.REA_REJECTION ,
            I.CRE_INQ_PHONE ,
            I.CRE_INQ_EMAIL ,
            I.CRE_IMG_NAME ,
            I.CRE_IMG_PATH ,
            I.CRE_IMG_ORI_NAME ,
            I.BANK_NAME ,
            I.ACCOUNT_NO ,
            I.DEPOSITOR_NAME ,
            B.BUSI_NUM ,
            B.BUSI_NAME ,
            B.BUSI_DATE ,
            B.BUSI_TYPE ,
            B.BUSI_INDUSTRY ,
            B.BUSI_LOCA ,
            B.BUSI_SIZE ,
            B.BUSI_URL ,
            B.AUTH_NAME ,
            B.AUTH_NUM,
            CASE
                WHEN B.BUSI_NUM IS NULL THEN '개인'
                ELSE '사업자'
            END AS CREATOR_TYPE
        FROM CREATOR_EVA C
        JOIN EVALUATION E ON C.EVA_NUM = E.EVA_NUM
        JOIN CREATOR_INFO I ON C.MEM_ID = I.MEM_ID
        LEFT JOIN CREATOR_BUSINESS B ON B.MEM_ID = I.MEM_ID
        ORDER BY C.EVA_NUM ASC;
    </select>

    <select id="selectCreatorEvaluationDetail" resultMap="CreatorEvaluationDetailResultMap">
        SELECT
            C.MEM_ID ,
            E.EVA_NUM ,
            E.EVA_DATETIME ,
            E.EVA_SITUATION ,
            E.REA_REJECTION ,
            I.CRE_INQ_PHONE ,
            I.CRE_INQ_EMAIL ,
            I.CRE_IMG_NAME ,
            I.CRE_IMG_PATH ,
            I.CRE_IMG_ORI_NAME ,
            I.BANK_NAME ,
            I.ACCOUNT_NO ,
            I.DEPOSITOR_NAME ,
            B.BUSI_NUM ,
            B.BUSI_NAME ,
            B.BUSI_DATE ,
            B.BUSI_TYPE ,
            B.BUSI_INDUSTRY ,
            B.BUSI_LOCA ,
            B.BUSI_SIZE ,
            B.BUSI_URL ,
            B.AUTH_NAME ,
            B.AUTH_NUM,
            F.CRE_FILE_PATH ,
            F.CRE_FILE_NAME ,
            F.CRE_FILE_ORI_NAME,
            CASE
                WHEN B.BUSI_NUM IS NULL THEN '개인'
                ELSE '사업자'
                END AS CREATOR_TYPE
        FROM CREATOR_EVA C
                 JOIN EVALUATION E ON C.EVA_NUM = E.EVA_NUM
                 JOIN CREATOR_INFO I ON C.MEM_ID = I.MEM_ID
                 LEFT JOIN CREATOR_BUSINESS B ON B.MEM_ID = I.MEM_ID
                 JOIN CREATOR_FILE F ON I.MEM_ID = F.MEM_ID
        WHERE C.EVA_NUM = #{ evaNum }
    </select>

    <insert id="insertCreatorInfo" parameterType="com.companimal.semiProject.project.model.dto.CreatorInfoDTO">
        INSERT
        INTO CREATOR_iNFO (
                           MEM_ID
                           ,CRE_INQ_PHONE
                           ,CRE_INQ_EMAIL
                           ,CRE_IMG_NAME
                           ,CRE_IMG_PATH
                           ,CRE_IMG_ORI_NAME
                           ,BANK_NAME
                           ,ACCOUNT_NO
                           ,DEPOSITOR_NAME
                            )
        VALUES (
                 #{ memId }
                ,#{ creInqPhone }
                ,#{ creInqEmail }
                ,#{ creImgName }
                ,#{ creImgPath }
                ,#{ creImgOriName }
                ,#{ bankName }
                ,#{ accountNo }
                ,#{ depositorName }
               )
    </insert>

    <insert id="InsertCreatorFile" parameterType="com.companimal.semiProject.evaluation.model.dto.CreatorFileDTO">
        INSERT
        INTO CREATOR_FILE (
                             CRE_EVA_NUM
                            ,MEM_ID
                            ,CRE_FILE_PATH
                            ,CRE_FILE_NAME
                            ,CRE_FILE_ORI_NAME
                          )
        VALUES (
                 #{ creEvaNum }
                ,#{ memId }
                ,#{ creFilePath }
                ,#{ creFileName }
                ,#{ creFileOriName }
               )
    </insert>

    <insert id="insertEvaluation" parameterType="com.companimal.semiProject.evaluation.model.dto.EvaluationDTO">
        INSERT
        INTO EVALUATION (
                          EVA_DATETIME
                         ,EVA_SITUATION
                         )
        VALUES (
                 #{ evaDateTime }
                ,#{ evaSituation }
               )
        <selectKey keyProperty="evaNum" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="selectEvaCalculationList" resultMap="evaCalListResultMap">
        SELECT
            c.cal_req_datetime,
            c.cal_app_datetime,
            c.cal_status,
            p.pro_name,
            p.pro_code
            FROM calculation_list c
            JOIN project p ON (c.pro_code = p.pro_code)
    </select>

    <update id="updateCalAppDate" parameterType="int">
        UPDATE calculation_list
            SET cal_app_datetime = now()
            WHERE pro_code = #{proCode}
    </update>

    <insert id="insertCreatorEva" parameterType="com.companimal.semiProject.evaluation.model.dto.CreatorEvaDTO">
        INSERT
        INTO CREATOR_EVA (
                          MEM_ID
                          ,EVA_NUM
                        )
        VALUES (
                #{ memId }
                ,#{ evaNum }
               )
    </insert>

    <select id="selectCreatorId" resultType="String">

    </select>

</mapper>