<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.companimal.semiProject.evaluation.model.dao.EvaluationMapper">

    <resultMap id="calculationResultMap" type="com.companimal.semiProject.evaluation.model.dto.CalculationListDTO">
        <id property="proCode" column="pro_code" />
        <result property="calReqDatetime" column="cal_req_datetime" />
        <result property="calAppDatetime" column="cal_app_datetime" />
        <result property="calStatus" column="cal_status" />
    </resultMap>

    <resultMap id="orderPaymentResultMap" type="com.companimal.semiProject.order.model.dto.OrderPaymentDTO">
        <id property="orderNo" column="order_no" />
        <result property="orderDate" column="order_date" />
        <result property="memId" column="mem_id" />
        <result property="address" column="address" />
        <result property="request" column="request" />
        <result property="recipient" column="recipient" />
        <result property="finalPay" column="final_pay" />
        <result property="proCode" column="pro_code" />
        <result property="couCode" column="cou_code" />
        <result property="purchaseStatus" column="purchase_status" />
    </resultMap>

    <resultMap id="projectResultMap" type="com.companimal.semiProject.project.model.dto.ProjectDTO">
        <id property="proCode" column="pro_code"/>
        <result property="proName" column="pro_name"/>
        <result property="proIntro" column="pro_intro"/>
        <result property="goalAmount" column="goal_amount"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="proStory" column="pro_story"/>
        <result property="polNoRefund" column="pol_no_refund"/>
        <result property="polAs" column="pol_as"/>
        <result property="memId" column="mem_id"/>
        <result property="estDate" column="est_date"/>
        <result property="achRate" column="ach_rate"/>
        <result property="delStatus" column="del_status"/>
        <result property="cateMain" column="cate_main"/>
        <result property="cateSub" column="cate_sub"/>
        <collection property="orderPayment" resultMap="orderPaymentResultMap" />
    </resultMap>

    <resultMap id="evaCalListResultMap" type="com.companimal.semiProject.evaluation.model.dto.CalculationListDTO">
        <id property="proCode" column="pro_code" />
        <result property="calReqDatetime" column="cal_req_datetime" />
        <result property="calAppDatetime" column="cal_app_datetime" />
        <result property="calStatus" column="cal_status" />
        <association property="project" resultMap="projectResultMap" />
    </resultMap>

    <insert id="insertCreatorInfo" parameterType="com.companimal.semiProject.project.model.dto.CreatorInfoDTO">
        INSERT
        INTO CREATOR_iNFO (
                           MEM_ID
                           ,CRE_INQ_PHONE
                           ,CRE_INQ_EMAIL
                           ,CRE_IMG_NAME
                           ,CRE_IMG_PATH
                           ,CRE_IMG_ORI_NAME
                           ,BANK_NAME
                           ,ACCOUNT_NO
                           ,DEPOSITOR_NAME
                            )
        VALUES (
                 #{ memId }
                ,#{ creInqPhone }
                ,#{ creInqEmail }
                ,#{ creImgName }
                ,#{ creImgPath }
                ,#{ creImgOriName }
                ,#{ bankName }
                ,#{ accountNo }
                ,#{ depositorName }
               )
    </insert>

    <insert id="InsertCreatorFile" parameterType="com.companimal.semiProject.evaluation.model.dto.CreatorFileDTO">
        INSERT
        INTO CREATOR_FILE (
                             CRE_EVA_NUM
                            ,MEM_ID
                            ,CRE_FILE_PATH
                            ,CRE_FILE_NAME
                            ,CRE_FILE_ORI_NAME
                          )
        VALUES (
                 #{ creEvaNum }
                ,#{ memId }
                ,#{ creFilePath }
                ,#{ creFileName }
                ,#{ creFileOriName }
               )
    </insert>

    <insert id="insertEvaluation" parameterType="com.companimal.semiProject.evaluation.model.dto.EvaluationDTO">
        INSERT
        INTO EVALUATION (
                         EVA_DATETIME
                         ,EVA_SITUATION
                         )
        VALUES (
                #{ evaDateTime }
                #{ evaSituation }
               )
        <selectKey keyProperty="evaNum" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="selectEvaCalculationList" resultMap="evaCalListResultMap">
        SELECT
            c.cal_app_datetime,
            c.cal_status,
            p.pro_code,
            p.pro_name,
            o.purchase_status
            FROM calculation_list c
            RIGHT JOIN project p ON (c.pro_code = p.pro_code)
            JOIN order_payment o ON (p.pro_code = o.pro_code)
            WHERE p.end_date <![CDATA[ < ]]> now()
    </select>

    <update id="updateCalAppDate" parameterType="int">
        UPDATE calculation_list
            SET cal_app_datetime = now()
            WHERE pro_code = #{proCode}
    </update>
</mapper>