<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.companimal.semiProject.member.model.dao.MemberMapper">
    
    <resultMap id="login" type="com.companimal.semiProject.member.model.dto.LoginMemberDTO">
        <id property="memberId" column="MEM_ID"/>
        <result property="memberPwd" column="MEM_PWD"/>
        <result property="memberNickname" column="MEM_NICKNAME"/>
        <result property="memberName" column="MEM_NAME"/>
        <result property="memberPhone" column="MEM_PHONE"/>
        <result property="memberEmail" column="MEM_EMAIL"/>
        <result property="memberRole" column="MEM_AUTHORITY"/>
    </resultMap>

    <resultMap id="projectImageResultMap" type="com.companimal.semiProject.project.model.dto.ProjectImageDTO">
        <id property="proImgNum" column="pro_img_num"/>
        <id property="proCode" column="pro_code"/>
        <result property="proImgPath" column="pro_img_path"/>
        <result property="proImgName" column="pro_img_name"/>
        <result property="proImgOriName" column="pro_img_ori_name"/>
    </resultMap>

    <resultMap id="projectResultMap" type="com.companimal.semiProject.project.model.dto.ProjectDTO">
        <id property="proCode" column="pro_code"/>
        <result property="proName" column="pro_name"/>
        <result property="proIntro" column="pro_intro"/>
        <result property="goalAmount" column="goal_amount"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="proStory" column="pro_story"/>
        <result property="polNoRefund" column="pol_no_refund"/>
        <result property="polAs" column="pol_as"/>
        <result property="memId" column="mem_id"/>
        <result property="estDate" column="est_date"/>
        <result property="achRate" column="ach_rate"/>
        <result property="delStatus" column="del_status"/>
        <result property="cateMain" column="cate_main"/>
        <result property="cateSub" column="cate_sub"/>
    </resultMap>

    <resultMap id="orderPaymentResultMap" type="com.companimal.semiProject.order.model.dto.OrderPaymentDTO">
        <id property="orderCode" column="order_code" />
        <result property="orderDate" column="order_date" />
        <result property="memId" column="mem_id" />
        <result property="address" column="address" />
        <result property="request" column="request" />
        <result property="recipient" column="recipient" />
        <result property="finalPay" column="final_pay" />
        <result property="proCode" column="pro_code" />
        <result property="couCode" column="cou_code" />
        <result property="purchaseStatus" column="purchase_status" />
    </resultMap>

    <resultMap id="selectParticipateResultMap" type="com.companimal.semiProject.member.model.dto.MemberDTO">
        <id property="memberId" column="MEM_ID"/>
        <result property="memberPwd" column="MEM_PWD"/>
        <result property="memberNickname" column="MEM_NICKNAME"/>
        <result property="memberName" column="MEM_NAME"/>
        <result property="memberPhone" column="MEM_PHONE"/>
        <result property="memberEmail" column="MEM_EMAIL"/>
        <result property="memberRole" column="MEM_AUTHORITY"/>
        <collection property="project" resultMap="projectResultMap" />
        <collection property="orderPayment" resultMap="orderPaymentResultMap" />
    </resultMap>

    <resultMap id="couponResultMap" type="com.companimal.semiProject.order.model.dto.CouponDTO">
        <id property="couCode" column="COU_CODE"/>
        <result property="couName" column="COU_NAME"/>
        <result property="couAmount" column="COU_AMOUNT"/>
        <result property="couDateTime" column="COU_DATETIME"/>
        <result property="couYn" column="COU_YN"/>
        <result property="memId" column="MEM_ID"/>
    </resultMap>

    <resultMap id="rewardOptionsResultMap" type="com.companimal.semiProject.project.model.dto.ProjectRewardDTO">
        <id property="rewOptCode" column="rew_opt_code"/>
        <result property="rewCode" column="rew_code"/>
        <result property="rewOptNum" column="rew_opt_num"/>
        <result property="rewOptName" column="rew_opt_name"/>
        <result property="rewOptVal" column="rew_opt_val"/>
        <result property="rewOptLimit" column="rew_opt_limit"/>
        <result property="rewAmount" column="rew_amount"/>
    </resultMap>

    <resultMap id="rewardResultMap" type="com.companimal.semiProject.member.model.dto.SupporterParticipatedProjectDTO">
        <id property="orderCode" column="ORDER_CODE"/>
        <result property="finalPay" column="FINAL_PAY"/>
        <result property="orderDate" column="ORDER_DATE"/>
        <result property="rewName" column="REW_NAME"/>
        <result property="rewOptName" column="REW_OPT_NAME"/>
        <result property="rewOptVal" column="REW_OPT_VAL"/>
    </resultMap>

    <resultMap id="inquiryResultMap" type="com.companimal.semiProject.member.model.dto.InquiryDTO">
        <id property="memId" column="MEM_ID"/>
        <result property="proCode" column="PRO_CODE"/>
        <result property="inqContent" column="INQ_CONTENT"/>
        <result property="inqDateTime" column="INQ_DATEITME"/>
        <result property="inqAnswer" column="INQ_ANSWER"/>
        <result property="inqCateCode" column="INQ_CATE_CODE"/>
    </resultMap>

    <resultMap id="selectShowParticipateResultMap" type="com.companimal.semiProject.member.model.dto.MemberDTO">
        <id property="memberId" column="MEM_ID"/>
        <result property="memberPwd" column="MEM_PWD"/>
        <result property="memberNickname" column="MEM_NICKNAME"/>
        <result property="memberName" column="MEM_NAME"/>
        <result property="memberPhone" column="MEM_PHONE"/>
        <result property="memberEmail" column="MEM_EMAIL"/>
        <result property="memberRole" column="MEM_AUTHORITY"/>
        <collection property="project" resultMap="projectResultMap" />
        <collection property="orderPayment" resultMap="orderPaymentResultMap" />
        <collection property="image" resultMap="projectImageResultMap" />
    </resultMap>

    <insert id="registMember" parameterType="com.companimal.semiProject.member.model.dto.MemberDTO">
        INSERT
        INTO DEFAULT_MEMBER (MEM_ID
                            ,MEM_PWD
                            ,MEM_NICKNAME
                            ,MEM_NAME
                            ,MEM_PHONE
                            ,MEM_EMAIL
                            ,MEM_AUTHORITY
        )
        VALUES ( #{ memberId}
               ,#{ memberPwd}
               ,#{ memberNickname}
               ,#{ memberName}
               ,#{ memberPhone}
               ,#{ memberEmail}
               ,#{ memberRole}
               )
    </insert>

    <select id="findByMemberName" resultMap="login" parameterType="string">
        SELECT
            MEM_ID
             ,MEM_PWD
             ,MEM_NICKNAME
             ,MEM_NAME
             ,MEM_PHONE
             ,MEM_EMAIL
             ,MEM_AUTHORITY
        FROM DEFAULT_MEMBER
        WHERE MEM_ID = #{ memberId }
    </select>

    <select id="idDuplicateCheck" resultType="int">
        SELECT COUNT(*)
        FROM DEFAULT_MEMBER
        WHERE MEM_ID = #{ id }
    </select>

    <select id="selectParticipate" parameterType="String" resultMap="selectShowParticipateResultMap">
        SELECT
            p.pro_code,
            p.pro_name,
            p.end_date,
            p.est_date,
            p.ach_rate,
            o.purchase_status,
            o.order_code,
            o.order_date,
            i.pro_img_num,
            i.pro_code,
            i.pro_img_path,
            i.pro_img_name,
            i.pro_img_ori_name
            FROM default_member m
            JOIN order_payment o ON (m.mem_id = o.mem_id)
            JOIN project p ON (o.pro_code = p.pro_code)
            JOIN project_image i ON (p.pro_code = i.pro_code)
            WHERE m.mem_id = #{id}
            ORDER BY o.order_date
    </select>

    <update id="updatePurchaseConfirm" parameterType="String">
        UPDATE order_payment
        SET purchase_status = now()
        WHERE order_code = #{orderCode}
    </update>

    <select id="getAvailableCouponInfo" resultMap="couponResultMap">
        SELECT COU_CODE,
               COU_NAME,
               COU_AMOUNT,
               COU_DATETIME,
               COU_YN,
               MEM_ID
        FROM COUPON
            WHERE MEM_ID = #{ memId }
        AND COU_YN = 'y'
    </select>

    <select id="getUsedCouponInfo" resultMap="couponResultMap">
        SELECT COU_CODE,
               COU_NAME,
               COU_AMOUNT,
               COU_DATETIME,
               COU_YN,
               MEM_ID
        FROM COUPON
        WHERE MEM_ID = #{ memId }
          AND COU_YN = 'n'
    </select>

    <select id="downloadCouponInfo" resultMap="couponResultMap">
        SELECT COU_CODE,
               COU_NAME,
               COU_AMOUNT,
               COU_DATETIME,
               COU_YN,
               MEM_ID
        FROM COUPON
        WHERE MEM_ID = #{ memId }
          AND COU_YN = 'd'
    </select>

    <select id="getSupporterProject" resultMap="rewardResultMap">
        SELECT op.FINAL_PAY,
               op.ORDER_CODE,
               op.ORDER_DATE,
               r.REW_NAME,
               ropt.REW_OPT_NAME,
               ropt.REW_OPT_VAL
        FROM ORDER_PAYMENT op
        INNER JOIN PROJECT p ON (op.MEM_ID = p.MEM_ID)
        INNER JOIN REWARD r ON (r.PRO_CODE = p.PRO_CODE)
        INNER JOIN REWARD_OPT ropt ON (r.REW_CODE = ropt.REW_CODE)
        WHERE op.MEM_ID = #{ memId }
    </select>

    <insert id="setSupporterInquiredProject" parameterType="com.companimal.semiProject.member.model.dto.InquiryDTO">
        INSERT INTO INQUIRY (MEM_ID,
                             PRO_CODE,
                             INQ_CONTENT,
                             INQ_DATETIME,
                             INQ_ANSWER,
                             INQ_CATE_CODE)
        VALUES (
                #{ memId },
                #{ proCode },
                #{ inqContent },
                #{ inqDateTime },
                #{ inqAnswer },
                #{ inqCateCode }
                )
    </insert>

    <select id="selectMemId" resultType="String">
        SELECT MEM_ID
        FROM DEFAULT_MEMBER
        WHERE MEM_NAME = #{ memName }
    </select>

    <select id="registeredEmailCheckByName" resultType="String">
        SELECT MEM_EMAIL
        FROM DEFAULT_MEMBER
        WHERE MEM_NAME = #{ memName }
    </select>

    <select id="registeredEmailCheckById" resultType="String">
        SELECT MEM_EMAIL
        FROM DEFAULT_MEMBER
        WHERE MEM_ID = #{ memId }
    </select>
    
    <update id="UpdatePassword" parameterType="com.companimal.semiProject.member.model.dto.MemberDTO">
        UPDATE DEFAULT_MEMBER
           SET MEM_PWD = #{memberPwd}
         WHERE MEM_ID = #{memberId}
    </update>
</mapper>
