<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.companimal.semiProject.order.model.dao.OrderMapper">

    <resultMap id="couponResultMap" type="com.companimal.semiProject.order.model.dto.CouponDTO">
        <id property="couCode" column="COU_CODE"/>
        <result property="couName" column="COU_NAME"/>
        <result property="couAmount" column="COU_AMOUNT"/>
        <result property="couDateTime" column="COU_DATETIME"/>
        <result property="couYn" column="COU_YN"/>
        <result property="memId" column="MEM_ID"/>
    </resultMap>

    <resultMap id="memberResultMap" type="com.companimal.semiProject.member.model.dto.MemberDTO">
        <id property="memberId" column="MEM_ID"/>
        <result property="memberPwd" column="MEM_PWD"/>
        <result property="memberNickname" column="MEM_NICKNAME"/>
        <result property="memberName" column="MEM_NAME"/>
        <result property="memberPhone" column="MEM_PHONE"/>
        <result property="memberEmail" column="MEM_EMAIL"/>
        <result property="memberRole" column="MEM_AUTHORITY"/>
    </resultMap>

    <resultMap id="rewOptResultMap" type="com.companimal.semiProject.project.model.dto.ProjectRewardOptDTO">
        <id property="rewOptCode" column="REW_OPT_CODE"/>
        <result property="rewCode" column="REW_CODE"/>
        <result property="rewOptNum" column="REW_OPT_NUM"/>
        <result property="rewOptName" column="REW_OPT_NAME"/>
        <result property="rewOptVal" column="REW_OPT_VAL"/>
        <result property="rewOptLimit" column="REW_OPT_LIMIT"/>
        <result property="rewAmount" column="REW_AMOUNT"/>
    </resultMap>

    <resultMap id="orderDetailsResultMap" type="com.companimal.semiProject.order.model.dto.GetOrderDetailsInfoDTO">
        <id property="proCode" column="PRO_CODE"/>
        <result property="orderAmount" column="ORDER_AMOUNT"/>
        <result property="proName" column="PRO_NAME"/>
    </resultMap>

    <resultMap id="orderOptionDetailsResultMap" type="com.companimal.semiProject.order.model.dto.GetOrderOptionsInfoDTO">
        <id property="rewName" column="REW_NAME"/>
        <result property="rewSf" column="REW_SF"/>
        <result property="rewardOpt" column="REW_OPT_CODE"/>
        <result property="rewOptName" column="REW_OPT_NAME"/>
        <result property="rewOptVal" column="REW_OPT_VAL"/>
        <result property="rewAmount" column="REW_AMOUNT"/>
        <result property="noOfOrder" column="NO_OF_ORDER"/>
    </resultMap>

    <resultMap id="orderPaymentResultMap" type="com.companimal.semiProject.order.model.dto.OrderPaymentDTO">
        <id property="orderCode" column="ORDER_CODE" />
        <result property="orderDate" column="ORDER_DATE" />
        <result property="memId" column="MEM_ID" />
        <result property="address" column="ADDRESS" />
        <result property="request" column="REQUEST" />
        <result property="recipient" column="RECIPIENT" />
        <result property="finalPay" column="FINAL_PAY" />
        <result property="proCode" column="PRO_CODE" />
        <result property="couCode" column="COU_CODE" />
        <result property="purchaseStatus" column="PURCHASE_STATUS" />
    </resultMap>

    <select id="findCouponInfo" resultMap="couponResultMap">
        SELECT COU_CODE,
               COU_NAME,
               COU_AMOUNT,
               COU_DATETIME,
               COU_YN,
               MEM_ID
        FROM COUPON
            WHERE MEM_ID = #{ memId }
        AND COU_YN = 'y'
    </select>

    <select id="findMemberInfo" resultMap="memberResultMap">
        SELECT MEM_ID,
               MEM_NAME,
               MEM_PHONE,
               MEM_EMAIL
        FROM DEFAULT_MEMBER
        WHERE MEM_ID =#{ memId }
    </select>

    <insert id="setOrderPaymentInfo" parameterType="com.companimal.semiProject.order.model.dto.OrderPaymentDTO">
        INSERT INTO ORDER_PAYMENT (ORDER_CODE,
                                   ORDER_DATE,
                                   MEM_ID,
                                   ADDRESS,
                                   REQUEST,
                                   RECIPIENT,
                                   FINAL_PAY,
                                   PRO_CODE,
                                   COU_CODE
                                   )
        VALUES (#{ orderCode },
                #{ orderDate },
                #{ memId },
                #{ address },
                #{ request },
                #{ recipient },
                #{ finalPay },
                #{ proCode },
                #{ couCode }
                )
    </insert>

    <update id="updateUsedCoupon" parameterType="String">
        UPDATE COUPON
            SET COU_YN = "n"
        WHERE COU_CODE = #{ couCode }
    </update>

<!--    <select id="" parameterType="String" resultMap="">-->
<!--        SELECT-->

<!--            FROM order_payment o-->
<!--            JOIN -->
<!--    </select>-->
</mapper>