<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.companimal.semiProject.project.model.dao.ProjectMapper">

    <resultMap id="projectResultMap" type="com.companimal.semiProject.project.model.dto.ProjectDTO">
        <id property="proCode" column="pro_code"/>
        <result property="proName" column="pro_name"/>
        <result property="proIntro" column="pro_intro"/>
        <result property="goalAmount" column="goal_amount"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="proStory" column="pro_story"/>
        <result property="polNoRefund" column="pol_no_refund"/>
        <result property="polAs" column="pol_as"/>
        <result property="memId" column="mem_id"/>
        <result property="estDate" column="est_date"/>
        <result property="achRate" column="ach_rate"/>
        <result property="delStatus" column="del_status"/>
        <result property="cateMain" column="cate_main"/>
        <result property="cateSub" column="cate_sub"/>
    </resultMap>

    <resultMap id="projectCateResultMap" type="com.companimal.semiProject.project.model.dto.ProjectCateDTO">
        <id property="proCateCode" column="pro_cate_code"/>
        <result property="proCateName" column="pro_cate_name"/>
        <result property="proCateType" column="pro_cate_type"/>
    </resultMap>

    <resultMap id="projectRewardOptResultMap" type="com.companimal.semiProject.project.model.dto.ProjectRewardOptDTO">
        <id property="rewOptCode" column="rew_opt_code"/>
        <result property="rewCode" column="rew_code"/>
        <result property="rewOptNum" column="rew_opt_num"/>
        <result property="rewOptName" column="rew_opt_name"/>
        <result property="rewOptVal" column="rew_opt_val"/>
        <result property="rewOptLimit" column="rew_opt_limit"/>
        <result property="rewAmount" column="rew_amount"/>
    </resultMap>

    <resultMap id="projectRewardResultMap" type="com.companimal.semiProject.project.model.dto.ProjectRewardDTO">
        <id property="rewCode" column="rew_code"/>
        <result property="rewNum" column="rew_num"/>
        <result property="proCode" column="pro_code"/>
        <result property="rewName" column="rew_name"/>
        <result property="rewExplain" column="rew_explain"/>
        <result property="rewSf" column="rew_sf"/>
        <collection property="rewardOpt" resultMap="projectRewardOptResultMap"/>
    </resultMap>

    <resultMap id="rewardResultMap" type="com.companimal.semiProject.project.model.dto.ProjectRewardDTO">
        <id property="rewCode" column="rew_code"/>
        <result property="rewNum" column="rew_num"/>
        <result property="proCode" column="pro_code"/>
        <result property="rewName" column="rew_name"/>
        <result property="rewExplain" column="rew_explain"/>
        <result property="rewSf" column="rew_sf"/>
    </resultMap>

    <resultMap id="projectImageResultMap" type="com.companimal.semiProject.project.model.dto.ProjectImageDTO">
        <id property="proImgNum" column="pro_img_num"/>
        <id property="proCode" column="pro_code"/>
        <result property="proImgPath" column="pro_img_path"/>
        <result property="proImgName" column="pro_img_name"/>
        <result property="proImgOriName" column="pro_img_ori_name"/>
    </resultMap>

    <resultMap id="projectFileResultMap" type="com.companimal.semiProject.project.model.dto.ProjectFileDTO">
        <id property="proFileNum" column="pro_file_num"/>
        <id property="proCode" column="pro_code"/>
        <result property="proFilePath" column="pro_file_path"/>
        <result property="proFileName" column="pro_file_name"/>
        <result property="proFileOriName" column="pro_file_ori_name"/>
    </resultMap>
    
    <resultMap id="projectDetailResultMap" type="com.companimal.semiProject.project.model.dto.ProjectDTO">
        <id property="proCode" column="pro_code"/>
        <result property="proName" column="pro_name"/>
        <result property="proIntro" column="pro_intro"/>
        <result property="goalAmount" column="goal_amount"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="proStory" column="pro_story"/>
        <result property="polNoRefund" column="pol_no_refund"/>
        <result property="polAs" column="pol_as"/>
        <result property="memId" column="mem_id"/>
        <result property="estDate" column="est_date"/>
        <result property="achRate" column="ach_rate"/>
        <result property="delStatus" column="del_status"/>
        <result property="cateMain" column="cate_main"/>
        <result property="cateSub" column="cate_sub"/>
        <collection property="reward" resultMap="projectRewardResultMap"/>
        <collection property="image" resultMap="projectImageResultMap"/>
<!--        <collection property="file" resultMap="projectFileResultMap"/>-->
        <collection property="cate" resultMap="projectCateResultMap"/>
    </resultMap>

    <resultMap id="defaultMemberResultMap" type="com.companimal.semiProject.member.model.dto.MemberDTO">
        <id property="memberId" column="mem_id" />
        <result property="memberPwd" column="mem_pwd" />
        <result property="memberNickname" column="mem_nickname" />
        <result property="memberName" column="mem_name" />
        <result property="memberPhone" column="mem_phone" />
        <result property="memberEmail" column="mem_email" />
        <result property="memberAuthority" column="mem_authority" />
    </resultMap>

    <resultMap id="orderOptResultMap" type="com.companimal.semiProject.order.model.dto.OrderOptDTO">
        <id property="orderNo" column="order_no" />
        <id property="newOptCode" column="new_opt_code" />
        <result property="orderAmount" column="order_amount" />
    </resultMap>

    <resultMap id="orderPaymentResultMap" type="com.companimal.semiProject.order.model.dto.OrderPaymentDTO">
        <id property="orderCode" column="order_code" />
        <result property="orderDate" column="order_date" />
        <result property="memId" column="mem_id" />
        <result property="address" column="address" />
        <result property="request" column="request" />
        <result property="recipient" column="recipient" />
        <result property="finalPay" column="final_pay" />
        <result property="proCode" column="pro_code" />
        <result property="couCode" column="cou_code" />
        <result property="purchaseStatus" column="purchase_status" />
    </resultMap>

    <resultMap id="calculationResultMap" type="com.companimal.semiProject.evaluation.model.dto.CalculationListDTO">
        <id property="proCode" column="pro_code" />
        <result property="calReqDatetime" column="cal_req_datetime" />
        <result property="calAppDatetime" column="cal_app_datetime" />
        <result property="calStatus" column="cal_status" />
    </resultMap>

    <!-- 프로젝트에 대한 서포터의 후원 내역 조회 -->
    <resultMap id="selectSupportListResultMap" type="com.companimal.semiProject.project.model.dto.ProjectDTO">
        <id property="proCode" column="pro_code"/>
        <result property="proName" column="pro_name"/>
        <result property="proIntro" column="pro_intro"/>
        <result property="goalAmount" column="goal_amount"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="proStory" column="pro_story"/>
        <result property="polNoRefund" column="pol_no_refund"/>
        <result property="polAs" column="pol_as"/>
        <result property="memId" column="mem_id"/>
        <result property="estDate" column="est_date"/>
        <result property="achRate" column="ach_rate"/>
        <result property="delStatus" column="del_status"/>
        <result property="cateMain" column="cate_main"/>
        <result property="cateSub" column="cate_sub"/>
        <collection property="defaultMember" resultMap="defaultMemberResultMap" />
        <collection property="orderPayment" resultMap="orderPaymentResultMap" />
        <collection property="orderOpt" resultMap="orderOptResultMap" />
        <collection property="reward" resultMap="rewardResultMap"/>
        <collection property="rewardOpt" resultMap="projectRewardOptResultMap" />
    </resultMap>

    <!-- 후원 정산 내역 조회 -->
    <resultMap id="selectCalculationResultMap" type="com.companimal.semiProject.project.model.dto.ProjectDTO">
        <id property="proCode" column="pro_code"/>
        <result property="proName" column="pro_name"/>
        <result property="proIntro" column="pro_intro"/>
        <result property="goalAmount" column="goal_amount"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="proStory" column="pro_story"/>
        <result property="polNoRefund" column="pol_no_refund"/>
        <result property="polAs" column="pol_as"/>
        <result property="memId" column="mem_id"/>
        <result property="estDate" column="est_date"/>
        <result property="achRate" column="ach_rate"/>
        <result property="delStatus" column="del_status"/>
        <result property="cateMain" column="cate_main"/>
        <result property="cateSub" column="cate_sub"/>
        <association property="calculationList" resultMap="calculationResultMap" />
        <collection property="orderPayment" resultMap="orderPaymentResultMap" />
    </resultMap>

    <!-- 프로젝트 상세페이지 조회에서 하드코딩으로 등록한 정보 가져오는 쿼리 -->
    <select id="selectProject" resultMap="projectResultMap">
        SELECT pro_code
                ,pro_name
                ,pro_intro
                ,goal_amount
                ,start_date
                ,end_date
                ,pro_story
                ,pol_no_refund
                ,pol_as
                ,mem_id
                ,est_date
                ,ach_rate
                ,del_status
                ,cate_main
                ,cate_sub
          FROM project
         WHERE del_status = 'N'
<!--           AND pro_code = #{ proCode }-->
<!--           AND TO_DAYS(now())-TO_DAYS('end_date');-->
    </select>

    <select id="selectAllProject" resultMap="projectResultMap">
        SELECT pro_code
                ,pro_name
                ,pro_intro
                ,goal_amount
                ,start_date
                ,end_date
                ,pro_story
                ,pol_no_refund
                ,pol_as
                ,mem_id
                ,est_date
                ,ach_rate
                ,del_status
                ,cate_main
                ,cate_sub
          FROM project
         WHERE del_status = 'N'
    </select>

    <!-- 프로젝트 상세페이지 조회에서 DB에 저장한 정보 가져오는 쿼리 -->
    <select id="selectProjectDetail" resultMap="projectDetailResultMap">
        SELECT p.pro_code
                ,p.pro_name
                ,p.pro_intro
                ,p.goal_amount
                ,p.start_date
                ,p.end_date
                ,p.pro_story
                ,p.pol_no_refund
                ,p.pol_as
                ,p.mem_id
                ,p.est_date
                ,p.ach_rate
                ,p.del_status
                ,p.cate_main
                ,p.cate_sub
                ,r.rew_code
                ,r.rew_num
                ,r.pro_code
                ,r.rew_name
                ,r.rew_explain
                ,r.rew_sf
                ,o.rew_opt_code
                ,o.rew_code
                ,o.rew_opt_num
                ,o.rew_opt_name
                ,o.rew_opt_val
                ,o.rew_opt_limit
                ,o.rew_amount
                ,i.pro_img_num
                ,i.pro_code
                ,i.pro_img_path
                ,i.pro_img_name
                ,i.pro_img_ori_name
<!--                ,f.pro_file_name-->
                ,c1.pro_cate_code
                ,c1.pro_cate_name
                ,c1.pro_cate_type
<!--                ,c2.pro_cate_name-->
          FROM project p
          JOIN reward r ON (p.pro_code = r.pro_code)
          JOIN reward_opt o ON (r.rew_code = o.rew_code)
          JOIN project_image i ON (p.pro_code = i.pro_code)
<!--          JOIN project_file f ON (p.pro_code = f.pro_code)-->
          JOIN project_cate c1 ON (p.cate_main = c1.pro_cate_code)
<!--          JOIN project_cate c2 ON (p.cate_sub = c2.pro_cate_code)-->
         WHERE p.del_status = 'N'
           AND p.pro_code = #{ proCode }
    </select>

    <!-- 프로젝트 등록 시 db에 저장할 쿼리 -->
    <insert id="insertProject" parameterType="com.companimal.semiProject.project.model.dto.ProjectDTO">
        INSERT INTO project (
                                pro_name
                                ,pro_intro
                                ,goal_amount
                                ,start_date
                                ,end_date
                                ,pro_story
                                ,pol_no_refund
                                ,pol_as
                                ,mem_id
                                ,est_date
                                ,ach_rate
                                ,del_status
                                ,cate_main
                                ,cate_sub
                                )
          VALUES (
                    #{ proName }
                    ,#{ proIntro }
                    ,#{ goalAmount }
                    ,#{ startDate }
                    ,#{ endDate }
                    ,#{ proStory }
                    ,#{ polNoRefund }
                    ,#{ polAs }
                    ,#{ memId }
                    ,#{ estDate }
                    ,#{ achRate }
                    ,#{ delStatus }
                    ,#{ cateMain }
                    ,#{ cateSub }
                    )

    </insert>

    <insert id="insertProjectReward" parameterType="com.companimal.semiProject.project.model.dto.ProjectRewardDTO">
        INSERT INTO project_reward (
                                    rew_code
                                    ,rew_num
                                    ,pro_code
                                    ,rew_name
                                    ,rew_explain
                                    ,rew_sf
                                    )
        VALUES (
                #{ rewCode }
                ,#{ rewNum }
                ,#{ proCode }
                ,#{ rewName }
                ,#{ rewExplain }
                ,#{ rewSf }
                )
    </insert>

    <insert id="insertProjectRewardOpt" parameterType="com.companimal.semiProject.project.model.dto.ProjectRewardOptDTO">
        INSERT INTO project_reward (
                                    rew_opt_code
                                    ,rew_code
                                    ,rew_opt_num
                                    ,pro_opt_name
                                    ,rew_opt_val
                                    ,rew_opt_limit
                                    ,rew_amount
                                    )
        VALUES (
                #{ rewOptCode }
                ,#{ rewCode }
                ,#{ rewOptNum }
                ,#{ proOptName }
                ,#{ rewOptVal }
                ,#{ rewOptLimit }
                ,#{ rewAmount }
                )
    </insert>

    <insert id="insertProjectFile" parameterType="com.companimal.semiProject.project.model.dto.ProjectFileDTO">
        INSERT INTO project_file (
                                pro_file_num
                                ,pro_code
                                ,pro_file_path
                                ,pro_file_name
                                ,pro_file_ori_name
                                )
        VALUES (
                #{ proFileNum }
                ,#{ proCode }
                ,#{ proFilePath }
                ,#{ proFileName }
                ,#{ proFileOriName }
                )
    </insert>

    <insert id="insertProjectImage" parameterType="com.companimal.semiProject.project.model.dto.ProjectFileDTO">
        INSERT INTO project_image (
                                pro_img_num
                                ,pro_code
                                ,pro_img_path
                                ,pro_img_name
                                ,pro_img_ori_name
                                )
        VALUES (
                #{ proFileNum }
                ,#{ proCode }
                ,#{ proFilePath }
                ,#{ proFileName }
                ,#{ proFileOriName }
                )
    </insert>

<!--    <insert id="insertProjectCate" parameterType="com.companimal.semiProject.project.model.dto.ProjectCateDTO">-->
<!--        INSERT INTO project_cate (-->
<!--        pro_code-->
<!--    </insert>-->

    <!-- 프로젝트 상세페이지 조회에서 카테고리 이름 가져오는 쿼리 -->
    <select id="selectProjectCate" resultMap="projectCateResultMap">
        SELECT pro_cate_name
          FROM project_cate
         WHERE pro_cate_code = #{ proCateCode }
    </select>

    <insert id="insertFile" parameterType="com.companimal.semiProject.project.model.dto.ProjectFileDTO">
        INSERT INTO project_file (
        pro_file_num
        ,pro_code
        ,pro_file_path
        ,pro_file_name
        ,pro_file_ori_name
        )
        VALUES (
        #{ proFileNum }
        ,#{ proCode }
        ,#{ proFilePath }
        ,#{ proFileName }
        ,#{ proFileOriName }
        )
    </insert>

    <insert id="insertImage" parameterType="com.companimal.semiProject.project.model.dto.ProjectImageDTO">
        INSERT INTO project_image (
        pro_img_num
        ,pro_code
        ,pro_img_path
        ,pro_img_name
        ,pro_img_ori_name
        )
        VALUES (
        #{ proImgNum }
        ,#{ proCode }
        ,#{ proImgPath }
        ,#{ proImgName }
        ,#{ proImgOriName }
        )
    </insert>

    <!-- 종료된 프로젝트 가져오는 쿼리 -->
    <select id="selectEndProjectList" parameterType="String" resultMap="projectResultMap">
        SELECT pro_code
        ,pro_name
        ,pro_intro
        ,goal_amount
        ,start_date
        ,end_date
        ,pro_story
        ,pol_no_refund
        ,pol_as
        ,mem_id
        ,est_date
        ,ach_rate
        ,del_status
        ,cate_main
        ,cate_sub
        FROM project
        WHERE del_status = 'N' and replace(end_date,'-','') <![CDATA[ < ]]>  replace(CURRENT_DATE(), '-', '') and mem_id = #{id}
        ORDER BY end_date
    </select>

    <!-- 배송 예정일 업데이트 쿼리 -->
    <update id="updateShipment" parameterType="com.companimal.semiProject.project.model.dto.ProjectDTO">
        UPDATE project
            SET est_date=#{estDate}
            WHERE pro_code=#{proCode}
    </update>

    <!-- 서포터 후원 리스트 가져오는 쿼리 -->
    <select id="selectSupportList" parameterType="int" resultMap="selectSupportListResultMap">
        SELECT
            o.mem_id,
            o.order_date,
            o.final_pay,
            t.order_amount,
            w.rew_amount
            FROM order_payment o
            JOIN order_opt t ON (o.order_code = t.order_no)
            JOIN reward_opt w ON (t.rew_opt_code = w.rew_opt_code)
            WHERE o.pro_code = #{proCode}
            ORDER BY o.order_date desc
    </select>

    <!-- 후원 정산 내역 -->
    <select id="selectCalculationList" parameterType="String" resultMap="selectCalculationResultMap">
        SELECT
            p.pro_code,
            o.pro_code,
            p.pro_name,
            p.est_date,
            p.ach_rate,
            c.cal_req_datetime,
            c.cal_app_datetime
            FROM project p
            LEFT JOIN (SELECT DISTINCT
                pro_code,
                purchase_status
                FROM order_payment
                WHERE pro_code in (SELECT
                    pro_code
                    FROM project
                    WHERE mem_id = #{id}
                        AND DATEDIFF(end_date, now()) <![CDATA[ <= ]]> 0)
                        AND purchase_status IS NULL) o ON (p.pro_code = o.pro_code)
            LEFT JOIN calculation_list c ON (p.pro_code = c.pro_code)
            WHERE mem_id = #{id} AND DATEDIFF(end_date, now()) <![CDATA[ <= ]]> 0 AND ach_rate >= 100;
    </select>

    <insert id="insertCalculationList" parameterType="String">
        INSERT INTO calculation_list
            (
                pro_code
                , cal_req_datetime
                , cal_app_datetime
                , cal_status
            )
            VALUES
            (
                #{proCode}
                , now()
                , NULL
                , 'N'
            )
    </insert>
</mapper>