<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <h1> kakaoPay api 이용하기 </h1>

<!--    <form method="post" action="/kakaoPay"> &lt;!&ndash; goes to kakaoPay when pressed &ndash;&gt;-->
<!--        <button>카카오페이로 결제하기</button>-->
<!--    </form>-->

<!--    <script>-->
<!--        $("#kakaoPay").click(function() {-->
<!--            $.ajax({-->
<!--                url: "kakaoPay",-->
<!--                dataType:'json',-->
<!--                success:function(data) {-->
<!--                    var box = data.next_redirect_pc_url;-->
<!--                    window.open(box); // 새로운 pop-up-->
<!--                },-->
<!--                error:function(error) {-->
<!--                    alert(error);-->
<!--                }-->
<!--            })-->
<!--        })-->
<!--    </script>-->




</body>
</html>