<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <title>COMPANIMAL</title>
    <link rel="stylesheet" th:href="@{/css/findPasswordResetPassword.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<body>
<div class="companimalLogo" onclick="location.href='/main'">Companimal</div>

<div class="MainWeapper_contest">

    <div class="account-intro-login">

        <div class="AccountContainer_container">

            <h1 class="AccountContainer_title">비밀번호 재설정</h1>
<!--            <p class="findPasswordInfo"></p>-->
            <p class="findPasswordInfo2">사용하실 비밀번호를 입력해주세요.</p>


            <form class="SignInForm_form" th:action="@{/member/passwordReset}" th:method="post">

                <div class="registPasswordField">

                    <input id="memberPwd" name="memberPwd" class="passwordField" maxlength="20"
                           placeholder="   새로운 비밀번호" type="password">
                </div>

                <div class="registPasswordCheckField">

                    <input id="passwordCheck" class="passwordCheckField" maxlength="20" placeholder="   새로운 비밀번호 확인"
                           type="password">

                </div>


                <div class="resetPasswordButton">

                    <button class="resetPasswordSubmitButton disabled" id="resetPasswordSubmitButton" type="submit" disabled>
                        <span class="resetPasswordSubmitButtonText">비밀번호 재설정</span>
                    </button>
                </div>

            </form>

        </div>

    </div>

</div>
<script th:src="@{/js/member/passwordResetValidateForm.js}"></script>
<script th:src="@{/js/member/passwordResetEnabled.js}"></script>


</body>
</html>