<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/navLayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/inquiredSuccess.css">
    <link rel="stylesheet" href="/css/common.css">
</head>
<th:block layout:fragment="content">
    <div class="container">
        <div class="outer-container1">
            <img class="checkcircle" src="/image/checkcircle.png">
        </div>
        <div class="successText-container">
            <div class="asd">프로젝트 문의가 정상적으로 올라갔습니다</div>
        </div>
    </div>
</th:block>>
</html>