<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <title>COMPANIMAL</title>
    <link rel="stylesheet" th:href="@{/css/regist.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<body>
<div class="companimalLogo" onclick="location.href='/main'">Companimal</div>
<div class="MainWeapper_contest">

    <div class="account-intro-login">

        <div class="AccountContainer_container">

            <h1 class="AccountContainer_title">회원가입</h1>

<!--            각각의 입력 필드는 validateForm.js에 의해 해당 입력필드에서 포커스가 떠나면 유효성 검사를 진행-->
            <form class="registForm_form" th:action="@{/member/regist}" th:method="post">

                <div class="registFormRegistField">

                    <div class="registIdField">

                        <input id="memberId" name="memberId" class="idField" maxlength="20" placeholder="   아이디"
                               type="text">
                        <button type="button" class="idDuplicateCheckButton">중복 확인</button>
                    </div>

                    <div class="registPasswordField">

                        <input id="memberPwd" name="memberPwd" class="passwordField" maxlength="20"
                               placeholder="   비밀번호" type="password">
                    </div>

                    <div class="registPasswordCheckField">

                        <input id="passwordCheck" class="passwordCheckField" maxlength="20" placeholder="   비밀번호 확인"
                               type="password">

                    </div>

                    <div class="registNicknameField">

                        <input id="memberNickname" name="memberNickname" class="nicknameField" maxlength="20"
                               placeholder="   닉네임" type="text">

                    </div>

                    <div class="registNameField">

                        <input id="memberName" name="memberName" class="nameField" maxlength="20" placeholder="   이름"
                               type="text">
                    </div>

                    <div class="registPhoneNumberField">

                        <input id="memberPhone" name="memberPhone" class="phoneNumberField" maxlength="20"
                               placeholder="   휴대폰 번호" type="text">
                    </div>

                    <div class="registEmailField">
                        <input id="email" name="memberEmail1" class="emailField" placeholder="   이메일" type="text">
                        <div id="atSign">@</div>
                        <input id="email2" name="memberEmail2" class="emailField2" disabled>

<!--                        이메일 아이디와 도메인을 따로 받는 구조로 만들어서 이메일 아이디와 도메인을 합쳐주기 위해 생성-->
<!--                        fullEamilAddress.js 에 의해 #email과 #email2의 값이 합쳐서 온전한 이메일 주소의 값이 저장됨-->
                        <input name="memberEmail" style="display: none;">
                        <select class="emailSelect">
                            <option selected disabled>선택</option>
                            <option value="naver.com">@naver.com</option>
                            <option value="gmail.com">@gmail.com</option>
                            <option value="hanmail.net">@hanmail.net</option>
                            <option value="direct">직접 입력</option>
                        </select>
                        <button type="button" id="sendEmail" class="emailSendButton">전송</button>
                    </div>

                    <div class="registEmailCheckField">

                        <input class="emailCertificationNumberField" maxlength="6" placeholder="   이메일 인증 번호"
                               type="text">

                        <button type="button" class="certificationNumberCheckButton">확인</button>
                    </div>

                </div>

<!--                termOfUse.js에 의해 전체 동의를 누르면 모든 약관에 체크가 되고, 개별 약관의 체크가 해제되면 전체 동의의 체크도 해제됨-->
<!--                약관을 따로 체크해도 전부 다 체크하면 전체 동의도 체크됨-->
                <div class="agreement">
                    <input type="checkbox" class="individualCheckbox" id="selectAll">
                    <p>이용 약관 전체 동의</p>
                </div>

                <section class="agreement-contents">
                    <div class="term">
                        <input type="checkbox" class="individualCheckbox termCheckbox" id="term1">
                        <label for="term1" class="agreementName">회원가입 약관</label>
                        <button type="button" class="view" id="view1">보기</button>
                    </div>
                    <div class="term">
                        <input type="checkbox" class="individualCheckbox termCheckbox" id="term2">
                        <label for="term2" class="agreementName">개인정보 수집 및 이용 동의</label>
                        <button type="button" class="view" id="view2">보기</button>
                    </div>
                    <div class="term">
                        <input type="checkbox" class="individualCheckbox termCheckbox" id="term3">
                        <label for="term3" class="agreementName">만 14세 이상입니다.</label>
                        <button type="button" class="view" id="view3"></button>
                    </div>
                </section>


                <div class="registButton">

                    <input name="memberRole" value="SUPPORTER" type="hidden"/>

<!--                    회원가입 버튼은 기본적으로 비활성화 상태이며, registEnabled.js에 의해-->
<!--                    아이디 중복확인, 이메일 인증번호 확인, 각 입력필드 유효성 확인, 약관 전체 동의 체크 상태가 전부 true가 되면-->
<!--                    회원가입 버튼이 활성화 된다.-->
                    <button class="registSubmitButton disabled" id="registSubmitButton" type="submit" disabled>
                        <span class="registSubmitButtonText">회원 가입</span>
                    </button>
                </div>

            </form>

        </div>

    </div>

</div>

<!--기타 알림 내용을 표시하는 모달-->
<div id="myModal" class="modal">

    <div class="modalContent">

        <span class="close">&times;</span>

        <div class="modalText">
            <p id="modalText">모달 내용</p>
        </div>
    </div>
</div>

<!--약관 표시를 위한 모달-->
<div id="myModal1" class="modal1">

    <div class="modalContent1">

        <span class="close">&times;</span>

        <div class="modalText">
            <p id="modalText1">모달 내용</p>
        </div>
    </div>
</div>

<script th:src="@{/js/regist/idDuplicateCheck.js}"></script>
<script th:src="@{/js/regist/emailAuth.js}"></script>
<script th:src="@{/js/regist/verifyEmail.js}"></script>
<script th:src="@{/js/regist/validateForm.js}"></script>
<script th:src="@{/js/regist/registEnabled.js}"></script>
<script th:src="@{/js/regist/modalClose.js}"></script>
<script th:src="@{/js/regist/fullEmailAddress.js}"></script>
<script th:src="@{/js/regist/termOfUse.js}"></script>
<script th:src="@{/js/regist/viewTerm.js}"></script>
</body>
</html>