<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/navLayout}">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/supporterProject.css}">
</head>

<th:block layout:fragment="content">
    <div class="main">
        <div class="projectInfo-outerlayer">
            <div class="orderList">주문 조회</div>
            <div class="projectInfo-container">
                <img class="image1" src="/image/detail_main_image1.png" alt="parrot product">

                <div class="projectDetails-container">
                    <div class="projectName-container">
                        <div class="projectName">상품명</div>
                        <div class="projectNameInfo">상품명</div>
                    </div>
                    <div class="projectDescription-container">
                        <div class="projectDescriptionName">상품정보</div>
                        <div class="projectDescriptionInfo">상품정보</div>
                    </div>
                    <div class="orderNo-container">
                        <div class="orderNo">주문번호</div>
                        <div class="orderNoInfo">주문번호</div>
                    </div>
                    <div class="orderDate-container">
                        <div class="orderDate">주문일자</div>
                        <div class="orderDateInfo">주문일자</div>
                    </div>
                    <div class="paymentDate-container">
                        <div class="paymentDate">결제일</div>
                        <div class="paymentDateInfo">결제일</div>
                    </div>
                    <div class="paymentAmount-container">
                        <div class="paymentAmount">결제금액</div>
                        <div class="paymentAmountInfo">결제금액</div>
                    </div>
                </div>
                <a href="" class="confirmation-container">
                    <button type="submit">확인</button>
                </a>
            </div>
        </div>
    </div>
</th:block>

</html>