<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/navLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,400;0,600;0,700;1,400&display=swap"/>
      <link rel="stylesheet" href="/css/supporterInterest.css">
</head>
<th:block layout:fragment="content">
    <!-- <header class="header">
        <iframe src="../기본템플렛/header.html" width="100%" height="400px" frameborder="0"></iframe>
    </header> -->
    <section>
        <div class="main">
            <div class="participateProject-container">
                <div class="projectbox">
                    <a href="#">
                        <img src="/image/profilePic.jpeg" alt="프로젝트 썸네일" />
                    </a>
                    <div class="projectInfo">
                        <div class="projectTitle">project title</div>
                        <a class="heart" href=""><img src="/image/heart.png"></a>
                    </div>
                    <div class="goToFund"><button class="Fund">펀딩하기</button></div>
                </div>
                
                <div class="projectbox">
                    <a href="#">
                        <img src="/image/profilePic.jpeg" alt="프로젝트 썸네일" />
                    </a>
                    <div class="projectInfo">
                        <div class="projectTitle">project title</div>
                        <a class="heart" href=""><img src="/image/heart.png"></a>
                    </div>
                    <div class="goToFund"><button class="Fund">펀딩하기</button></div>
                </div>

                <div class="projectbox">
                    <a href="#">
                        <img src="/image/profilePic.jpeg" alt="프로젝트 썸네일" />
                    </a>
                    <div class="projectInfo">
                        <div class="projectTitle">project title</div>
                        <a class="heart" href=""><img src="/image/heart.png"></a>
                    </div>
                    <div class="goToFund"><button class="Fund">펀딩하기</button></div>
                </div>
                
                <div class="projectbox">
                    <a href="#">
                        <img src="/image/profilePic.jpeg" alt="프로젝트 썸네일" />
                    </a>
                    <div class="projectInfo">
                        <div class="projectTitle">project title</div>
                        <a class="heart" href=""><img src="/image/heart.png"></a>
                    </div>
                    <div class="goToFund"><button class="Fund">펀딩하기</button></div>
                </div>

                <div class="projectbox">
                    <a href="#">
                        <img src="/image/profilePic.jpeg" alt="프로젝트 썸네일" />
                    </a>
                    <div class="projectInfo">
                        <div class="projectTitle">project title</div>
                        <a class="heart" href=""><img src="/image/heart.png"></a>
                    </div>
                    <div class="goToFund"><button class="Fund">펀딩하기</button></div>
                </div>
                
                <div class="projectbox">
                    <a href="#">
                        <img src="/image/profilePic.jpeg" alt="프로젝트 썸네일" />
                    </a>
                    <div class="projectInfo">
                        <div class="projectTitle">project title</div>
                        <a class="heart" href=""><img src="/image/heart.png"></a>
                    </div>
                    <div class="goToFund"><button class="Fund">펀딩하기</button></div>
                </div>

                <div class="projectbox">
                    <a href="#">
                        <img src="/image/profilePic.jpeg" alt="프로젝트 썸네일" />
                    </a>
                    <div class="projectInfo">
                        <div class="projectTitle">project title</div>
                        <a class="heart" href=""><img src="/image/heart.png"></a>
                    </div>
                    <div class="goToFund"><button class="Fund">펀딩하기</button></div>
                </div>
                
                <div class="projectbox">
                    <a href="#">
                        <img src="/image/profilePic.jpeg" alt="프로젝트 썸네일" />
                    </a>
                    <div class="projectInfo">
                        <div class="projectTitle">project title</div>
                        <a class="heart" href=""><img src="/image/heart.png"></a>
                    </div>
                    <div class="goToFund"><button class="Fund">펀딩하기</button></div>
                </div>         
            </div>
        </div>
    </section>
</th:block>
</html>