<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="headerFragment">
    <header>
        <div class="miniNav">
            <button class="signup miniNav-item" href="">회원가입</button>
            <button id="login" class="login miniNav-item" type="button">로그인</button>
            <button id="projectRegist" class="projectRegist miniNav-item">프로젝트 등록</button>
        </div>
        <div class="companimal" onclick="location.href=''">Companimal</div>
        <div>
            <hr>
        </div>
    </header>
</th:block>

</html>