<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="loginHeaderFragment">
    <header>
        <div class="miniNav">
            <button class="signup miniNav-item" onclick="location.href='/member/regist'">회원가입</button>
            <button id="login" class="login miniNav-item" type="button" onclick="location.href='/auth/login'">로그인</button>
            <button id="projectRegist" class="projectRegist miniNav-item">프로젝트 등록</button>
        </div>
        <div class="companimal" onclick="location.href='/'">Companimal</div>
        <div class="mainNav">
            <div class="menu-bar">
                <a class="funding+" href="">펀딩+</a>
                <a class="community" href="">커뮤니티</a>
                <a class="story" href="">스토리</a>
            </div>
            <div class="keyword-search">
                <input class="search-box" placeholder="키워드 검색" type="text">
                <button type="button">
                    <img class="keyword-search-icon" src="/image/search.png">
                </button>
            </div>
        </div>
        <div>
            <hr>
        </div>
    </header>
</th:block>

</html>