<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="managerNavFragment">
    <div class="sidetab">
        <div class="sidewrap">
            <div>
                <button class="managerbtn">매니저</button>
            </div>
            <div class="roleimage">
                <img src="/image/member.png" alt="이미지">
            </div>
            <div class="sidemenu">
                <p>심사 관리</p>
                <button>- 크리에이터 심사</button>
                <button>- 펀딩 프로젝트 심사</button>
                <button>- 후원금 최종 정산 심사</button>
                <p>신고 관리</p>
                <button>- 펀딩 프로젝트 신고 관리</button>
                <button>- 게시판 신고 관리</button>
                <button>- 댓글 신고 관리</button>
            </div>
        </div>
    </div>
</th:block>

</html>