<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="supporterNavFragment">
    <div class="sidetab">
        <div class="sidewrap">
            <div class="d-flex rolechangebtn">
                <button class="supporterbtn focusbtn">서포터</button>
                <button class="creatorbtn" th:onclick="|location.href='@{/member/creator}'|">크리에이터</button>
            </div>
            <div class="roleimage">
                <img src="/image/profileimg.png" alt="이미지">
            </div>
            <div class="sidemenu">
                <p>내 정보</p>
                <button th:onclick="|location.href='@{/member/profile}'|">- 프로필</button>
                <button th:onclick="|location.href='@{/member/noticecenter}'|">- 알림 센터</button>
                <p>프로젝트</p>
                <button>- 참여 프로젝트</button>
                <button>- 관심 프로젝트</button>
            </div>
        </div>
    </div>
</th:block>

</html>