<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/common_layout}">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<th:block layout:fragment="content">
    <div class="main">
        <h2>후원금 정산 진행 현황</h2>
        <div class="d-flex d-wrap projectlistbox">
            <div class="projectbox" th:each="callist : ${calculationList}">
                <a th:href="@{/project/projectDetail(id=${callist.proCode})}">
                    <img src="/image/thumb1.jpg" alt="프로젝트 썸네일" />
                </a>
                <h3 th:text="${callist.proName}"></h3>
                <div class="d-flex calBox">
                    <div>
                        <span class="pjpercentage" th:text="${callist.achRate}"></span>
                        <span class="pjpercentage">% 달성</span>
                    </div>
                    <p th:if="${#strings.isEmpty(callist.estDate)}" class="gray-back">발송 예정일 미입력</p>
                    <p th:if="${callist.estDate}" class="gray-back">중간 정산 전</p>
                    <!--<p th:if="${callist.estDate}" class="yellow-back">중간 정산 완료</p>
                    <p th:if="${callist.estDate}" class="orange-back">최종 정산 완료</p>-->
                </div>
            </div>
        </div>
    </div>
</th:block>

</html>