<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/navLayout}">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript" th:src="@{/js/prev.js}"></script>
</head>

<th:block layout:fragment="content">
    <div class="main">
        <h2>후원 내역 조회</h2>
        <table class="listTable">
            <tr>
                <th>서포터 아이디</th>
                <th>후원 금액</th>
                <th>후원 날짜</th>
                <th>후원 상태</th>
            </tr>

            <tr th:each="supportlist : ${supportList}">
                <td th:text="${supportlist.orderPayment.get(0).memId}"></td>
                <td>
                    <span th:text="${supportlist.orderOpt.get(0).orderAmount} * ${supportlist.rewardOpt.get(0).rewAmount}"></span>
                    <span>원</span>
                </td>
                <td th:text="${#strings.substring(supportlist.orderPayment.get(0).orderDate, 0, 10)}"></td>
                <td th:if="${supportlist.orderPayment.get(0).finalPay} != null">후원</td>
                <td th:if="${supportlist.orderPayment.get(0).finalPay} == null">취소/환불</td>
            </tr>
        </table>
<!--        <button th:onclick="history()">목록</button>-->
    </div>
</th:block>

</html>