<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/logout_creator_layout}">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<th:block layout:fragment="content">
    <div class="main">
        <h2>진행 종료 프로젝트 조회</h2>
        <div class="d-flex d-wrap projectlistbox">
            <div class="projectbox">
                <a href="#">
                    <img src="/image/etc1.jpg" alt="프로젝트 썸네일" />
                </a>
                <div>
                    <h3>펀딩 프로젝트 제목1입니다.</h3>
                    <p class="pjpercentage">103% 달성</p>
                </div>
                <div class="d-flex endpjbtn">
                    <button class="supportdetail" th:onclick="|location.href='@{/project/supportlist}'|">후원 내역 조회</button>
                    <button class="modalbtn shipmentbtn">배송 예정일 미입력</button>
                </div>
            </div>
            <div class="projectbox">
                <a href="#">
                    <img src="/image/etc2.jpg" alt="프로젝트 썸네일" />
                </a>
                <div>
                    <h3>펀딩 프로젝트 제목2입니다.</h3>
                    <p class="pjpercentage">133% 달성</p>
                </div>
                <div class="endpjbtn d-flex">
                    <button class="supportdetail">후원 내역 조회</button>
                    <button class="modalbtn shipmentbtn">배송 예정일 미입력</button>
                </div>
            </div>
            <div class="projectbox">
                <a href="#">
                    <img src="/image/etc3.jpg" alt="프로젝트 썸네일" />
                </a>
                <div>
                    <h3>펀딩 프로젝트 제목3입니다.</h3>
                    <p class="pjpercentage">129% 달성</p>
                </div>
                <div class="endpjbtn d-flex">
                    <button class="supportdetail">후원 내역 조회</button>
                    <button class="modalbtn shipmentbtn">배송 예정일 미입력</button>
                </div>
            </div>
            <div class="projectbox">
                <a href="#">
                    <img src="/image/etc1.jpg" alt="프로젝트 썸네일" />
                </a>
                <div>
                    <h3>펀딩 프로젝트 제목4입니다.</h3>
                    <p class="pjpercentage">103% 달성</p>
                </div>
                <div class="endpjbtn d-flex">
                    <button class="supportdetail">후원 내역 조회</button>
                    <button class="modalbtn shipmentbtn">발송 예정일 미입력</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

</html>