<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/common_layout}">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<th:block layout:fragment="content">
    <div class="main">
        <h2>후원 내역 조회</h2>
        <table class="listTable">
            <tr>
                <th>서포터 아이디</th>
                <th>후원 금액</th>
                <th>후원 날짜</th>
                <th>후원 상태</th>
            </tr>
            <tr th:each="supportlist : ${supportList}">
                <td th:text="${supportlist.memId}"></td>
                <td th:text="${supportlist.finalPay}">28000원</td>
                <td th:text="${supportlist.orderDate}">2024.02.25</td>
                <td>환불</td>
            </tr>
            <!--<tr>
                <td>jeongheeK</td>
                <td>32000원</td>
                <td>2024.02.25</td>
                <td>후원</td>
            </tr>
            <tr>
                <td>white99</td>
                <td>25000원</td>
                <td>2024.02.25</td>
                <td>후원</td>
            </tr>
            <tr>
                <td>daeun22</td>
                <td>42000원</td>
                <td>2024.02.24</td>
                <td>후원</td>
            </tr>
            <tr>
                <td>jihwan98</td>
                <td>60000원</td>
                <td>2024.02.24</td>
                <td>후원</td>
            </tr>
            <tr>
                <td>donghwanee</td>
                <td>18000원</td>
                <td>2024.02.24</td>
                <td>후원</td>
            </tr>
            <tr>
                <td>hoohoo</td>
                <td>35000원</td>
                <td>2024.02.20</td>
                <td>후원</td>
            </tr>
            <tr>
                <td>uandi</td>
                <td>108000원</td>
                <td>2024.02.15</td>
                <td>환불</td>
            </tr>
            <tr>
                <td>banman66</td>
                <td>15000원</td>
                <td>2024.02.15</td>
                <td>후원</td>
            </tr>
            <tr>
                <td>xml55</td>
                <td>45000원</td>
                <td>2024.02.14</td>
                <td>후원</td>
            </tr>-->
        </table>
    </div>
</th:block>

</html>