<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--      layout:decorate="~{layouts/logout_layout}"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">-->

<!--<head>-->
<!--    <meta charset="UTF-8" />-->
<!--    <link rel="stylesheet" th:href="@{/css/projectRegist.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/common.css}">-->
<!--</head>-->

<!--<th:block layout:fragment="content">-->
<!--    <section>-->
<!--        <div class="nav-bar-height side">-->
<!--            <button class="nav-tab">프로젝트 관리</button><br>-->
<!--            <button class="nav-choose">1.기본 정보</button><br>-->
<!--            <button class="nav-list">2.프로젝트 정보</button><br>-->
<!--            <button class="nav-list">3.스토리 작성</button><br>-->
<!--            <button class="nav-list">4.리워드 설계</button><br>-->
<!--            <button class="nav-list">5.정책</button><br>-->
<!--        </div>-->
<!--        <form action="contents/project/projectRegist1" method="get">-->
<!--            <div class="main">-->
<!--                <p class="title">프로젝트 등록</p>-->
<!--                <p class="sub-title">기본 정보</p>-->
<!--&lt;!&ndash;                <form action="#">&ndash;&gt;-->
<!--                    <select name="카테고리 선택" class="select-box" >-->
<!--                        <option value="fitness">피트니스</option>-->
<!--                        <option value="food">푸드</option>-->
<!--                        <option value="living">생활용품</option>-->
<!--                        <option value="etc">기타</option>-->
<!--                    </select>-->
<!--&lt;!&ndash;                </form><br>&ndash;&gt;-->
<!--&lt;!&ndash;                <form action="#">&ndash;&gt;-->
<!--                    <select name="프로젝트 서브 카테고리 선택" class="select-box">-->
<!--                        <option value="mammal">포유류</option>-->
<!--                        <option value="reptile">파충류</option>-->
<!--                        <option value="fish">어류</option>-->
<!--                        <option value="bird">조류</option>-->
<!--                        <option value="amphibian">양서류</option>-->
<!--                    </select>-->
<!--&lt;!&ndash;                </form><br>&ndash;&gt;-->
<!--                <input type="text" class="input-title" placeholder="프로젝트 제목 (최대 40자)"><br><br>-->
<!--                <textarea type="text" class="input-text" placeholder="프로젝트 소개 (최대 300자)"></textarea><br><br>-->
<!--                <div class="tip">-->
<!--                    <p class="tip-title">TIP. 대표 이미지 등록 가이드</p>-->
<!--                    <p class="tip-content">-->
<!--                        • 10MB 이하의 JPG 파일<br>-->
<!--                        • 해상도 1200x675 픽셀 이상-->
<!--                    </p><br>-->
<!--                </div>-->

<!--                <input type="file" placeholder="대표 이미지 등록"><br><br>-->
<!--                <input type="file" placeholder="파일 추가"><br><br>-->
<!--                <button th:type="submit" class="next" th:href="@{/project/projectRegist2.html}">다음</button><br>-->
<!--            </div>-->
<!--        </form>-->
<!--    </section>-->
<!--</th:block>-->

<!--</html>-->