<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/noNavLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/projectDetail.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <!--    <script type="text/javascript" th:src="@{/js/projectDetail.js}"></script>-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<th:block layout:fragment="content">
    <section>
        <div class="door">
            <div class="door-image">
                <div class="slider">
                    <input type="radio" name="slide" id="slide1" checked>
                    <input type="radio" name="slide" id="slide2">
                    <input type="radio" name="slide" id="slide3">
                    <ul id="imgholder" class="imgs">
                        <li><img class="detail-main-image" th:src="@{/image/detail_main_image1.png}"></li>
                        <li><img class="detail-main-image" th:src="@{/image/detail_main_image2.png}"></li>
                        <li><img class="detail-main-image" th:src="@{/image/detail_main_image3.png}"></li>
                    </ul>
                    <div class="bullets">
                        <label for="slide1">&nbsp;</label>
                        <label for="slide2">&nbsp;</label>
                        <label for="slide3">&nbsp;</label>
                    </div>
                </div>
            </div>
            <!--            <th:block th:each="project : ${ selectProjectList }">-->
            <div class="door-content" th:each="project : ${ selectProject }">
                <p th:text="${ project.endDate }" class="d-day"></p>
                <div class="category-title">
                    <div class="category">
                        <button type="button" class="category_button">
                            <img class="category-image" th:src="@{/image/living.png}">
                        </button>
                        <p class="living">카테고리</p>
                    </div>
                    <p class="title" name="proName" th:text="${ project.proName }"></p>
                </div>
                <p class="introduce" th:text="${ project.proIntro }"></p>
                <div class="goal-container">
                    <p class="goal-price" th:text="${ project.achRate }"></p>
                    <p class="goal-won"> % 달성</p>
                </div>
                <div class="heart-gray-icon-container">
                    <!--                    <img id="img" class="heart-gray-icon" src="/image/heart-gray.png">-->
                    <button onclick="toggleImg()" type="button" class="heart-button">
                        <img id="img" class="heart-gray-icon" src="/image/heart-gray.png">
                    </button>

                    <button type="submit" class="funding">펀딩 후원하기</button>

                </div>
            </div>
            <!--            </th:block>-->
        </div>

    </section>
    <section class="section2">
        <div class="content" th:each="project : ${ selectProject }">
            <div class="story">
                <p class="sub-info">프로젝트 스토리</p>
                <img class="story-image" th:src="@{/image/petsonHome1.jpg}">
                <img class="story-image" th:src="@{/image/petsonHome2.jpg}">
                <img class="story-image" th:src="@{/image/petsonHome3.jpg}">
                <img class="story-image" th:src="@{/image/petsonHome4.jpg}">
                <img class="story-image" th:src="@{/image/petsonHome5.jpg}">
                <img class="story-image" th:src="@{/image/petsonHome6.jpg}">
                <img class="story-image" th:src="@{/image/petsonHome7.jpg}">
                <img class="story-image" th:src="@{/image/petsonHome8.jpg}">
                <img class="story-image" th:src="@{/image/petsonHome9.jpg}">
                <div class="creater-introduce">
                    <p class="intro-title" th:text="${ project.proStory }"></p>
                    <p class="intro-content">약 1년이라는 시간동안 히즈독을 운영하면서 반려인들의 이야기를 들을 기회가 많았었는데요,
                        수많은 이야기 중에서도 제 이목을 크게 집중시켰던 것은 바로 강아지의 신체구조상
                        여름철 더위가 너무 고통이라는 이야기였습니다. 게다가 항상 반려견을 동반하여 외출할 수 없기 때문에
                        집에 홀로 두고 나올 때면, 에어컨을 틀고 외출할 수밖에 없어 요즘같이 냉난방비 폭탄인 시즌에는 그 비용도 만만치 않다는 이야기였습니다.<br>
                        저희는
                        <mark class="intro-line">“어떻게 하면, 여름철에는 시원하고 겨울철에는 따뜻한 공간을 선물할 수 있으며,
                            반려인의 현실적인 문제들을 동시에 해결할 수 있을까”
                        </mark>
                        <br>
                        라는 질문에서 시작하여 펫슨홈 개발을 생각하게 되었습니다.<br>
                        처음에는 단순히 시원하고 따뜻한 공간을 만드는 것에만 집중하였지만,
                        점차 반려인에게도 느낌 있는 공간, 더 나아가서는 반려동물과 반려인의 깊은 소통이 일어나는 공간,
                        즉 '반려동물과 반려인만의 특별한 라이프스타일'을 디자인하는 가치 공간으로 확장해나가게 되었습니다.
                    </p>
                </div>
                <img class="story-image" th:src="@{/image/petsonHome10.jpg}">
                <div class="shipping-policy">
                    <p class="sub-info">배송 안내</p>
                    <p class="sub-content">• 발송 예정일 : 추후 공지 예정<br>
                    <p class="sub-info">환불 불가 정책</p>
                    <p class="sub-content" th:text="${ project.polNoRefund }"></p>
                    <p class="sub-info">A/S 규정</p>
                    <P class="sub-content" th:text="${ project.polAs }"></P>
                </div>
            </div>
            <div class="creater-reward">
                <div class="creater">
                    <p class="sub-info">크리에이터 정보</p>
                    <div class="creater-info">
                        <div><img class="creater-image" th:src="@{/image/creater1.png}"></div>
                        <div th:text="${ project.member.memberNickname }"><br>
                        <div th:text="${ project.member.memberPhone }">
<!--                        <div th:text="${ project.member.memberEmail }">-->
                        </div>
                    </div>
                </div>
                <div class="reward">
                    <p class="sub-info">리워드 선택</p>
                    <div class="reward-scroll">
                        <div class="reward-list" th:each=" reward : ${ project.reward }">
                            <div class="reward-1" th:each="rewardOpt : ${ reward.rewardOpt }" onclick="toggleEvent(this)" data-fg-set="true" th:data-opt-code="${ rewardOpt.rewOptCode }">
                                <!--                            <div class="reward-1" id="reward-1" th:each="rewardOpt : ${ reward.rewardOpt }">-->
                                <input type="hidden" class="divRewOptCode" th:value="${ rewardOpt.rewOptCode }">
                                <div class="reward-title" th:text="${ reward.rewName }"></div>
                                <div class="op-limit">
                                    <div class="reward-option" th:text="${ rewardOpt.rewOptName }"></div>
                                    <div class="reward-option reward-value" th:text="${ rewardOpt.rewOptVal }"></div>
                                    <div class="reward-limitCount"><span th:text="${ rewardOpt.rewOptLimit }"></span> 개
                                        남음!
                                    </div>
                                </div>
                                <div class="reward-content">
                                    <span class="reward-price" th:text="${ rewardOpt.rewAmount }"></span> 원<br>
                                    배송비  <span class="reward-etc reward-sf" th:text="${ reward.rewSf }"></span><br>
                                    <span class="reward-etc reward-explain" th:text="${ reward.rewExplain }"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script th:inline="javascript">

                        $(document).ready(function () {

                            $(document).on("click", ".minus", function() {
                                console.log($(this));
                                let quantityElement = $(this).siblings('.number');
                                let currentQuantity = parseInt(quantityElement.text());

                                let noOfOrderVal = $(this).siblings('.noOfOrder');
                                noOfOrderVal.val(currentQuantity);

                                if (currentQuantity > 0) {
                                    quantityElement.text(currentQuantity - 1);

                                    if (currentQuantity - 1 === 0) {
                                        $(this).closest(".reward-choose1").remove();
                                        // $(".reward-1").on('click', func1 (this)); // Enable clicking on reward-1 again
                                        // minus (this)가 가진 dataset의 optCode(A) 찾아
                                        const minusOptCode = $(this).attr("data-opt-code");

                                        console.log(minusOptCode);

                                        // .reward-1 배열 받아서 find() A와 같은 optCode 가진 div 찾아
                                        const optCodeDiv = Array.from(document.querySelectorAll('.reward-1')).find(opt => opt.dataset.optCode === minusOptCode);

                                        // (찾은 div).dataset.fgSet = "true";
                                        optCodeDiv.dataset.fgSet = "true";
                                    }

                                    updateTotalAmount();
                                }
                            });

                            $(document).on("click", ".plus", function() {
                                let quantityElement = $(this).siblings('.number');
                                let currentQuantity = parseInt(quantityElement.text());
                                quantityElement.text(currentQuantity + 1);

                                let noOfOrderVal = $(this).siblings('.noOfOrder');
                                noOfOrderVal.val(currentQuantity + 1);

                                updateTotalAmount();
                            });
                        });

                        function test1 (event) {
                            // console.log(event);

                            // const eventDiv = event.currentTarget;
                            const rewName = event.getElementsByClassName('reward-title')[0].innerHTML;
                            const rewOpt = event.getElementsByClassName('reward-option')[0].innerHTML;
                            const rewValue = event.getElementsByClassName('reward-value')[0].innerHTML;
                            const rewOptAmount = event.getElementsByClassName('reward-price')[0].innerHTML;
                            const rewOptCode = event.getElementsByClassName('divRewOptCode')[0].value;
                            console.log(rewOptCode);
                            const rewardSf = event.getElementsByClassName('reward-sf')[0].innerHTML;
                            const rewardOptCode = event.dataset.optCode;

                            let rewardExists = false;

                            $(".reward-choose-list .title-choose").each(function() {
                                if ($(this).text() === rewName && $(this).next().text() === rewOpt && $(this).next().next().text() === rewValue) {
                                    rewardExists = true;
                                    return false; // Exit the loop early
                                }
                            });


                            if (!rewardExists) {
                                $(".reward-choose-list").append(
                                    "<div class=\"reward-choose1\">" +
                                    "<span class=\"title-choose\">" + rewName + "</span><br>" +
                                    "<span class=\"op-choose\">" + rewOpt + " : </span>" +
                                    "<span class=\"op-choose\">" + rewValue + "</span>" +
                                    "<div class=\"count-price\">" +
                                    "<div class=\"counts\">" +
                                    "<div class=\"minus\" data-opt-code=" + rewardOptCode + ">-</div>" +
                                    "<div class=\"number\">1</div>" +
                                    "<div class=\"plus\">+</div>" +
                                    "</div>" +
                                    "<div class=\"price\" name='orderAmount'>" + rewOptAmount + " 원</div>" +
                                    "</div>" +
                                    "<input type='hidden' name='rewName' value=\""+ rewName +"\">"+
                                    "<input type='hidden' name='rewSf' value=\"" + rewardSf + "\">" +
                                    "<input type='hidden' name='rewOptCode' value=\"" + rewOptCode + "\">" +
                                    "<input type='hidden' name='rewOptName' value=\"" + rewOpt + "\">" +
                                    "<input type='hidden' name='rewOptVal' value=\"" + rewValue + "\">" +
                                    "<input type='hidden' name='rewAmount' value=\"" + rewOptAmount + "\">" +
                                    "<input type='hidden' name='noOfOrder' class='noOfOrder' value=\"1\">" +
                                    "</div><br>"
                                );
                            }

                            updateTotalAmount();
                        }

                        function toggleEvent(event) {
                            if(event.dataset.fgSet === "true") {
                                event.dataset.fgSet = "false";
                                test1(event);
                            }

                            console.log(event.dataset.optCode);
                        }
                    </script>
                    <form th:action="@{/order/orderPayment}" method="post" id="order_form">
                        <input type="hidden" id="rowCount" value="0">
                        <input type="hidden" id="proCode" name="proCode" th:value="${project.proCode}">
                        <input type="hidden" id="proName" name="proName" th:value="${project.proName}">
                        <input type="hidden" id="orderAmount" name="orderAmount" value="">
                    <div class="reward-choose">
                        <div class="reward-choose-list" id="reward-choose-list">
                        </div>
                        <div>
                            <hr>
                            <br>
                            <div class="reward-all-price">
                                <div class="all-price">총 펀딩 금액</div>
                                <div class="all-price" name="orderAmount">0 원</div>
                            </div>
                        </div>
                    </div>
                    </form>
                    <script th:inline="javascript">

                        function updateTotalAmount() {
                            let totalAmount = 0;

                            $(".reward-choose1").each(function() {
                                let priceText = $(this).find(".price").text();
                                let price = parseInt(priceText.replace(/[^0-9]/g, ''));
                                let quantity = parseInt($(this).find(".number").text());
                                totalAmount += price * quantity;
                            });

                            $("#orderAmount").val(totalAmount);

                            $(".all-price:last").text(new Intl.NumberFormat('ko-KR').format(totalAmount) + "원");
                        };


                    </script>
                </div>

<!--             PRO_NAME, PRO_CODE, REW_CODE, REW_NUM, REW_NAME, REW_SF, REW_OPT_CODE, REW_OPT_NUM, REW_OPT_NAME, REW_OPT_VAL, REW_AMOUNT, 합계, 선택갯수   -->
<!--                <form th:action="@{/order/orderPayment}" method="post" id="order_form">-->
<!--                    <input type="hidden" id="proCode" name="proCode" th:value="${project.proCode}">-->
<!--                    <input type="hidden" id="proName" name="proName" th:value="${project.proName}">-->
<!--                    <input type="hidden" id="rewCode" name="rewCode" value="">-->
<!--                    <input type="hidden" id="rewNum" name="rewNum" value="">-->
<!--                    <input type="hidden" id="rewName" name="rewName" value="">-->
<!--                    <input type="hidden" id="rewSf" name="rewSf" value="">-->
<!--                    <input type="hidden" id="rewOptCode" name="rewOptCode" value="">-->
<!--                    <input type="hidden" id="rewOptNum" name="rewOptNum" value="">-->
<!--                    <input type="hidden" id="rewOptName" name="rewOptName" value="">-->
<!--                    <input type="hidden" id="rewOptVal" name="rewOptVal" value="">-->
<!--                    <input type="hidden" id="rewAmount" name="rewAmount" value="">-->
<!--                    <input type="hidden" id="noOfOrder" name="noOfOrder" value="">-->
<!--                    <input type="hidden" id="orderAmount" name="orderAmount" value="">-->
<!--                </form>-->


                <script>
                    // function send() {
                    //     // 각 요소의 값을 설정하기 전에 폼 요소를 가져옴
                    //     var proName = document.getElementById("proName");
                    //     var rewName = document.getElementById("rewName");
                    //     var rewOptName = document.getElementById("rewOptName");
                    //     var rewOptVal = document.getElementById("rewOptVal");
                    //     var rewAmount = document.getElementById("rewAmount");
                    //     var rewSf = document.getElementById("rewSf");
                    //
                    //     // 값을 설정
                    //     proName.value = document.querySelector(".title").textContent;
                    //     rewName.value = document.querySelector(".reward-title").textContent;
                    //     rewOptName.value = document.querySelector(".reward-option").textContent;
                    //     rewOptVal.value = document.querySelector(".reward-value").textContent;
                    //     rewAmount.value = document.querySelector(".reward-price").textContent;
                    //     rewSf.value = document.querySelector(".reward-sf").textContent;
                    //
                    //     // 폼을 제출
                    //     document.querySelector("form").submit();
                    // }

                    $(".funding").on("click", function () {


                        let rewCode = "";
                        let rewNum = "";
                        let rewName = "";
                        let rewSf = "";
                        let rewOptCode = "";
                        let rewOptNum = "";
                        let rewOptName = "";
                        let rewOptVal = "";
                        let rewAmount = "";
                        let noOfOrder = "";

                        // "<div class=\"reward-choose1\">" +
                        // "<span class=\"title-choose\">" + rewName + "</span><br>" +
                        // "<span class=\"op-choose\">" + rewOpt + " : </span>" +
                        // "<span class=\"op-choose\">" + rewValue + "</span>" +
                        // "<div class=\"count-price\">" +
                        // "<div class=\"counts\">" +
                        // "<div class=\"minus\" data-opt-code=" + rewardOptCode + ">-</div>" +
                        // "<div class=\"number\" name='noOfOrder'>1</div>" +
                        // "<div class=\"plus\">+</div>" +
                        // "</div>" +
                        // "<div class=\"price\" name='orderAmount'>" + rewOptAmount + " 원</div>" +
                        // "</div>" +

                        // $(".reward-choose1").each(function() {
                        //
                        // });

                        $("#order_form").submit();
                    });

                </script>
            </div>
        </div>
        </div>
    </section>
</th:block>

</html>