<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--      layout:decorate="~{layouts/logout_layout}"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">-->

<!--<head>-->
<!--    <meta charset="UTF-8" />-->
<!--    <link rel="stylesheet" th:href="@{/css/projectRegist.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/common.css}">-->
<!--</head>-->

<!--<th:block layout:fragment="content">-->
<!--    <section>-->
<!--        <div class="nav-bar-height side">-->
<!--            <button class="nav-tab">프로젝트 관리</button><br>-->
<!--            <button class="nav-list">1.기본 정보</button><br>-->
<!--            <button class="nav-list">2.프로젝트 정보</button><br>-->
<!--            <button class="nav-list">3.스토리 작성</button><br>-->
<!--            <button class="nav-choose">4.리워드 설계</button><br>-->
<!--            <button class="nav-list">5.정책</button><br>-->
<!--        </div>-->
<!--        <div class="container">-->
<!--            <form action="contents/project/projectRegist4" method="post">-->
<!--                <div class="main">-->
<!--                    <p class="title">프로젝트 등록</p>-->
<!--                    <p class="sub-title">리워드 설계</p>-->
<!--                    <div class="tip-long">-->
<!--                        <p class="tip-title">TIP. 리워드 설계 가이드</p>-->
<!--                        <p class="tip-content">-->
<!--                            • 정렬 순서 : 혜택이 좋은 순서대로 등록해주세요.<br>-->
<!--                            • 제한 수량 : 각 리워드별 제공할 수 있는 수량을 입력해주세요.<br>-->
<!--                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--                            제한된 수량이 모두 소진되면 이 리워드를 선택할 수 없어요.<br>-->
<!--                            • 옵션 조건 : 사이즈, 색상 등의 옵션 설정이 필요하면 추가해주세요.<br>-->
<!--                            • 이용 안내 : '리워드 발송 예정일'을 반드시 입력해주세요.<br>-->
<!--                        </p><br>-->
<!--                    </div><br><br><br><br><br>-->
<!--                    <button type="button" class="btn-reward">+ &nbsp;리워드 추가</button><br>-->

<!--                    <p class="sub-title">리워드 추가</p>-->
<!--                    <input type="text" class="input-name" placeholder="리워드명 (최대 30자)">-->
<!--                    <input type="number" class="input-number" placeholder="배송비"><br>-->
<!--                    <br>-->
<!--                    <textarea type="text" class="input-text" placeholder="리워드 설명 (최대 300자)-->
<!--        리워드 구성과 혜택을 간결하게 설명해주세요."></textarea>-->
<!--                    &lt;!&ndash; 리워드 추가 버튼 클릭시 &ndash;&gt;-->
<!--                    <input type="text" class="input-number" placeholder="옵션 (예시 : 색상)">-->
<!--                    <input type="text" class="input-number" placeholder="제한 수량">-->
<!--                    <input type="text" class="input-number" placeholder="리워드 금액">-->
<!--                    <input type="text" class="input-value" placeholder="옵션값 (예시 : 블랙, 화이트, 레드)">-->
<!--                    <button type="button" class="plus">+</button>-->
<!--                    <button type="button" class="remove">x</button><br>-->
<!--                </div>-->
<!--                <div class="before-next">-->
<!--                    <button type="button" class="next btn">저장</button><br>-->
<!--                    &lt;!&ndash; 리워드 추가 버튼 클릭 &ndash;&gt;-->
<!--                    <button type="button" class="before btn">이전</button>-->
<!--                    <button type="button" class="next btn">다음</button><br>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </section>-->
<!--</th:block>-->

<!--</html>-->