<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--      layout:decorate="~{layouts/logout_layout}"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">-->

<!--<head>-->
<!--    <meta charset="UTF-8" />-->
<!--    <link rel="stylesheet" th:href="@{/css/projectRegist.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/common.css}">-->
<!--</head>-->

<!--<th:block layout:fragment="content">-->
<!--    <section>-->
<!--        <div class="nav-bar-height side">-->
<!--            <button class="nav-tab">프로젝트 관리</button><br>-->
<!--            <button class="nav-list">1.기본 정보</button><br>-->
<!--            <button class="nav-choose">2.프로젝트 정보</button><br>-->
<!--            <button class="nav-list">3.스토리 작성</button><br>-->
<!--            <button class="nav-list">4.리워드 설계</button><br>-->
<!--            <button class="nav-list">5.정책</button><br>-->
<!--        </div>-->
<!--        <div class="container">-->
<!--            <form action="contents/project/projectRegist2" method="post">-->
<!--                <div class="main">-->
<!--                    <p class="title">프로젝트 등록</p>-->
<!--                    <p class="sub-title">프로젝트 정보</p>-->
<!--                    <input type="file" placeholder="관련 인증 서류 등록"><br><br>-->
<!--                    <input type="file" placeholder="파일 추가"><br><br>-->
<!--                    <input type="text" class="input-title" placeholder="목표 금액 (최소 50만 ~ 최대 1억원)" ><br><br>-->
<!--                    <form action="#">-->
<!--                        <input type="date" value="프로젝트 시작 일정 선택" id="select-box">-->
<!--                        </select>-->
<!--                        <input type="date" placeholder="프로젝트 종료 일정 선택" id="select-box">-->
<!--                        </select>-->
<!--                    </form>-->
<!--                </div>-->
<!--                <div class="before-next">-->
<!--                    <button type="button" class="before btn">이전</button>-->
<!--                    <button th:type="submit" class="next" th:href="@{/project/projectRegist3.html}">다음</button><br>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </section>-->
<!--</th:block>-->

<!--</html>-->