<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--      layout:decorate="~{layouts/logout_layout}"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">-->

<!--<head>-->
<!--    <meta charset="UTF-8" />-->
<!--    <link rel="stylesheet" th:href="@{/css/projectRegist.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/common.css}">-->
<!--</head>-->

<!--<th:block layout:fragment="content">-->
<!--    <section>-->
<!--        <div class="nav-bar-height side">-->
<!--            <button class="nav-tab">프로젝트 관리</button><br>-->
<!--            <button class="nav-list">1.기본 정보</button><br>-->
<!--            <button class="nav-list">2.프로젝트 정보</button><br>-->
<!--            <button class="nav-choose">3.스토리 작성</button><br>-->
<!--            <button class="nav-list">4.리워드 설계</button><br>-->
<!--            <button class="nav-list">5.정책</button><br>-->
<!--        </div>-->
<!--        <div class="container">-->
<!--            <form action="contents/project/projectRegist3" method="post">-->
<!--                <div class="main">-->
<!--                    <p class="title">프로젝트 등록</p>-->
<!--                    <p class="sub-title">스토리 작성</p>-->
<!--                    <div class="tip-long">-->
<!--                        <p class="tip-title">TIP. 스토리 작성 가이드</p>-->
<!--                        <p class="tip-content">-->
<!--                            • 이미지와 설명글 구성으로 작성하면 통합 검색 결과 상위에 노출될 확률이 높아져요.<br>-->
<!--                            • 이미지로만 구성된 스토리는 이미지 로딩 속도가 느려 서포터가 상세 페이지를<br>-->
<!--                            &nbsp;&nbsp;벗어날 확률이 높아져요.<br>-->
<!--                            • 추가 배송비가 있다면 정확한 추가 금액과 지불 방법을 스토리에 작성해주세요.-->
<!--                        </p><br>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="before-next">-->
<!--                    <button type="button" class="before btn">이전</button>-->
<!--                    <button th:type="submit" class="next" th:href="@{}">다음</button><br>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </section>-->
<!--</th:block>-->

<!--</html>-->