<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/noNavLayout}">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/projectDetail.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
<!--    <script type="text/javascript" th:src="@{/js/projectDetail.js}"></script>-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<th:block layout:fragment="content">
    <section>
        <form th:action="@{/orderPayment}" method="get">
        <div class="door">
            <div class="door-image">
                <div class="slider">
                    <input type="radio" name="slide" id="slide1" checked>
                    <input type="radio" name="slide" id="slide2">
                    <input type="radio" name="slide" id="slide3">
                    <ul id="imgholder" class="imgs">
                        <li><img class="detail-main-image" th:src="@{/image/detail_main_image1.png}"></li>
                        <li><img class="detail-main-image" th:src="@{/image/detail_main_image2.png}"></li>
                        <li><img class="detail-main-image" th:src="@{/image/detail_main_image3.png}"></li>
                    </ul>
                    <div class="bullets">
                        <label for="slide1">&nbsp;</label>
                        <label for="slide2">&nbsp;</label>
                        <label for="slide3">&nbsp;</label>
                    </div>
                </div>
            </div>
<!--            <th:block th:each="project : ${ selectProjectList }">-->
            <div class="door-content" th:each="project : ${ selectProject }">
                <p th:text="${ project.endDate }" class="d-day"></p>
                <div class="category-title">
                    <div class="category">
                        <button type="button" class="category_button">
                            <img class="category-image" th:src="@{/image/living.png}">
                        </button>
                        <p class="living">카테고리</p>
                    </div>
                    <input type="hidden" th:text="${ project.proName }">
                    <p class="title" th:text="${ project.proName }"></p>
                </div>
                <p class="introduce" th:text="${ project.proIntro }"></p>
                <div class="goal-container">
                    <p class="goal-price" th:text="${ project.achRate }">3,100,000</p>
                    <p class="goal-won"> % 달성</p>
                </div>
                <div class="heart-gray-icon-container">
<!--                    <img id="img" class="heart-gray-icon" src="/image/heart-gray.png">-->
                    <button onclick="toggleImg()" type="button" class="heart-button">
                        <img id="img" class="heart-gray-icon" src="/image/heart-gray.png">
                    </button>
                    <button type="submit" class="funding">펀딩 후원하기</button>
                </div>
            </div>
<!--            </th:block>-->
        </div>
    </section>
    <section class="section2">
        <div class="content" th:each="project : ${ selectProject }">
            <div class="story">
                <p class="sub-info">프로젝트 스토리</p>
                <img class="story-image" th:src="@{/image/petsonHome1.jpg}">
                <img class="story-image" th:src="@{/image/petsonHome2.jpg}">
                <img class="story-image" th:src="@{/image/petsonHome3.jpg}">
                <img class="story-image" th:src="@{/image/petsonHome4.jpg}">
                <img class="story-image" th:src="@{/image/petsonHome5.jpg}">
                <img class="story-image" th:src="@{/image/petsonHome6.jpg}">
                <img class="story-image" th:src="@{/image/petsonHome7.jpg}">
                <img class="story-image" th:src="@{/image/petsonHome8.jpg}">
                <img class="story-image" th:src="@{/image/petsonHome9.jpg}">
                <div class="creater-introduce">
                    <p class="intro-title" th:text="${ project.proStory }"></p>
                    <p class="intro-content">약 1년이라는 시간동안 히즈독을 운영하면서 반려인들의 이야기를 들을 기회가 많았었는데요,
                        수많은 이야기 중에서도 제 이목을 크게 집중시켰던 것은 바로 강아지의 신체구조상
                        여름철 더위가 너무 고통이라는 이야기였습니다. 게다가 항상 반려견을 동반하여 외출할 수 없기 때문에
                        집에 홀로 두고 나올 때면, 에어컨을 틀고 외출할 수밖에 없어 요즘같이 냉난방비 폭탄인 시즌에는 그 비용도 만만치 않다는 이야기였습니다.<br>
                        저희는
                        <mark class="intro-line">“어떻게 하면, 여름철에는 시원하고 겨울철에는 따뜻한 공간을 선물할 수 있으며,
                            반려인의 현실적인 문제들을 동시에 해결할 수 있을까”</mark><br>
                        라는 질문에서 시작하여 펫슨홈 개발을 생각하게 되었습니다.<br>
                        처음에는 단순히 시원하고 따뜻한 공간을 만드는 것에만 집중하였지만,
                        점차 반려인에게도 느낌 있는 공간, 더 나아가서는  반려동물과 반려인의 깊은 소통이 일어나는 공간,
                        즉 '반려동물과 반려인만의 특별한 라이프스타일'을 디자인하는 가치 공간으로 확장해나가게 되었습니다.
                    </p>
                </div>
                <img class="story-image" th:src="@{/image/petsonHome10.jpg}">
                <div class="shipping-policy">
                    <p class="sub-info">배송 안내</p>
                    <p class="sub-content">• 발송 예정일 : 추후 공지 예정<br>
                    <p class="sub-info">환불 불가 정책</p>
                    <p class="sub-content" th:text="${ project.polNoRefund }"></p>
                    <p class="sub-info">A/S 규정</p>
                    <P class="sub-content" th:text="${ project.polAs }"></P>
                </div>
            </div>
            <div class="creater-reward">
                <div class="creater">
                    <p class="sub-info">크리에이터 정보</p>
                    <div class="creater-info">
                        <div><img class="creater-image" th:src="@{/image/creater1.png}"></div>
                        <div>크리에이터 명<br>
                            070-XXXX-XXXX<br>
                            Creater@email.com</div>
                    </div>
                </div>

                <div class="reward">
                    <p class="sub-info">리워드 선택</p>
                    <div class="reward-scroll">
                        <div class="reward-list" th:each=" reward : ${ project.reward }">
                            <div class="reward-1" th:each="rewardOpt : ${ reward.rewardOpt }">
                                <div class="reward-title" th:text="${ reward.rewName }"></div>
                                <div class="op-limit">
                                    <div class="reward-option" th:text="${ rewardOpt.rewOptName }"></div>
                                    <div class="reward-option" th:text="${ rewardOpt.rewOptVal }"></div>
                                    <div class="reward-limitCount"><span th:text="${ rewardOpt.rewOptLimit }"></span> 개 남음!</div>
                                </div>
                                <div class="reward-content">
                                    <span class="reward-price" th:text="${ rewardOpt.rewAmount }"></span> 원<br>
                                    배송비 <span class="reward-etc" th:text="${ reward.rewSf }"></span><br>
                                    <span class="reward-etc" th:text="${ reward.rewExplain }"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script th:inline="javascript">

                        $(document).ready(function() {

                            $(".reward-1").click(function(event) {

                                // const rewName = event.target.childList.className('reward-title').text();
                                // const rewOptName = event.target.childNodes[1]
                                //
                                // const rewOpt = document.write(event.target.childNodes[0])
                                //
                                // $(".reward-choose-list").append(rewName, rewOptName, rewOpt);




                                $(".reward-choose-list").append("<div class=\"reward-choose1\">\n" +
                                    "                                <span rewName></span><br>\n" +
                                    "                                <span class=\"op-choose\" th:text=\"${ rewardOpt.rewOptName }\"></span>\n" +
                                    "                                <span class=\"op-choose\" th:text=\"${ rewardOpt.rewOptVal }\"></span><br>\n" +
                                    "                                <div class=\"count-price\">\n" +
                                    "                                    <div class=\"counts\">\n" +
                                    "                                        <div class=\"minus\">-</div>\n" +
                                    "                                        <div name=\"\" class=\"number\">1</div>\n" +
                                    "                                        <div class=\"plus\">+</div>\n" +
                                    "                                    </div>\n" +
                                    "                                    <div class=\"price\" th:text=\"${ rewardOpt.rewAmount }\"></div> 원\n" +
                                    "                                </div>\n" +
                                    "                            </div>");


                                // $(".reward-choose-list").append(rewOptName);
                                //
                                // console.log(rewOptName)

                            });
                        });


                    </script>
                    <div class="reward-choose">
                        <div class="reward-choose-list">
                            <!-- 선택한 것 입력 -->
<!--                            <div class="reward-choose1">-->
<!--                                <span></span><br>-->
<!--                                <span class="op-choose"></span>-->
<!--                                <span class="op-choose"></span><br>-->
<!--                                <div class="count-price">-->
<!--                                    <div class="counts">-->
<!--                                        <div class="minus">-</div>-->
<!--                                        <div name="" class="number">1</div>-->
<!--                                        <div class="plus">+</div>-->
<!--                                    </div>-->
<!--                                    <div class="price"></div> 원-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="reward-choose2">-->
<!--                                <span>펫슨 홈 본체 + 패브릭 매트(65 * 50 cm) + 각인 서비스</span><br>-->
<!--                                <span class="op-choose">블랙 코팅</span><br>-->
<!--                                <div class="count-price">-->
<!--                                    <div class="counts">-->
<!--                                        <div class="minus">-</div>-->
<!--                                        <div class="number">1</div>-->
<!--                                        <div class="plus">+</div>-->
<!--                                    </div>-->
<!--                                    <div class="price">130,000원</div>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                        <div>
                            <hr><br>
                            <div class="reward-all-price">
                                <div class="all-price">총 펀딩 금액</div>
                                <div class="all-price">250,000원</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </form>
    </section>
</th:block>

</html>