<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--      layout:decorate="~{layouts/logout_layout}"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">-->

<!--<head>-->
<!--    <meta charset="UTF-8" />-->
<!--    <link rel="stylesheet" th:href="@{/css/projectRegist.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/common.css}">-->
<!--</head>-->

<!--<th:block layout:fragment="content">-->
<!--    <section>-->
<!--        <div class="nav-bar-height side">-->
<!--            <button class="nav-tab">프로젝트 관리</button><br>-->
<!--            <button class="nav-list">1.기본 정보</button><br>-->
<!--            <button class="nav-list">2.프로젝트 정보</button><br>-->
<!--            <button class="nav-list">3.스토리 작성</button><br>-->
<!--            <button class="nav-list">4.리워드 설계</button><br>-->
<!--            <button class="nav-choose">5.정책</button><br>-->
<!--        </div>-->
<!--        <div class="container">-->
<!--            <form action="contents/project/projectRegist5" method="post">-->
<!--                <div class="main">-->
<!--                    <p class="title">프로젝트 등록</p>-->
<!--                    <p class="sub-title">정책</p>-->
<!--                    <div class="tip-long-long">-->
<!--                        <p class="tip-title">TIP. 기본 환불 정책</p>-->
<!--                        <p class="tip-content">-->
<!--                            • 아래의 경우 서포터가 환불 신청을 할 수 있어요.<br>-->
<!--                            • 프로젝트 종료 후 리워드가 발송되기 전까지 '참여 취소' 환불<br>-->
<!--                            • 약속한 리워드 발송 예정일까지 리워드가 발송되지 않은 경우 '리워드 지연' 환불<br>-->
<!--                            • 리워드 배송 전 '참여 취소'로 환불된 건과 리워드 배송 완료 이후 '단순 변심'으로-->
<!--                            &nbsp;&nbsp;&nbsp;-->
<!--                            &nbsp;&nbsp;환불된 건은 최종 정산 내역 중개수수료에서 제외됩니다.<br>-->
<!--                            • '참여 취소' 환불을 제외한 나머지 환불은 서포터가 크리에이터에게 직접 문의하여-->
<!--                            &nbsp;&nbsp;&nbsp;진행합니다.<br>-->
<!--                        </p>-->
<!--                    </div><br><br><br><br><br><br>-->
<!--                    <p class="sub-title">기타 환불 불가 규정 <i class="choose">(선택)</i></p>-->
<!--                    <textarea type="text" class="input-text"-->
<!--                              placeholder="기본 환불 정책 외 리워드 특성상 환불이 불가한 사유를 적어주세요. (최대 800자)-->
<!--                    [예시]-->
<!--                    • 포장 및 배송 중 발생될 수 있는 미세한 스크레치 및 찍힘은 환불이 어렵습니다.-->
<!--                    • 색상, 사이즈 측정 방식, 가공 환경에 따라 1-3mm 정도 차이가 날 수 있습니다.-->
<!--                    • 겉면에 하얀 가루는 당분이 농축된 것이니 섭취해도 괜찮습니다."-->
<!--                    ></textarea><br><br>-->
<!--                    <p class="sub-title">A/S 정책 <i class="choose">(선택)</i></p>-->
<!--                    <textarea type="text" class="input-text"-->
<!--                              placeholder="리워드 사용 중 문제가 발생할 수 있어요. 해결 방법을 미리 알려주시면 서포터님들의 신뢰를 얻을 수 있어요.-->
<!--                    (최대 800자)-->
<!--                    [예시]-->
<!--                    • 보증 기간 : 리워드 수령일로부터 1년-->
<!--                    • 규정 : 정상 신체품에서 발생한 하자의 경우 1:1 문의를 통해 해결합니다.-->
<!--                    • A/S 불가 규정 : 보증 기간 이내일지라도 사용자의 고의 또는 과실로 인하여 발생한 제품 하자인 경우"-->
<!--                    ></textarea><br><br>-->
<!--                </div>-->
<!--                <div class="before-next">-->
<!--                    <button type="button" class="before btn">이전</button>-->
<!--                    <button type="button" class="next btn">등록</button>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </section>-->
<!--</th:block>-->

<!--</html>-->