<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="common.css">
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,400;0,600;0,700;1,400&display=swap"/>
    <link rel="stylesheet" href="/static/css/supporterProject.css">
    <link rel="stylesheet" href="/static/css/common.css"> <!-- 이것도 다시 수정할 것 ...! -->
</head>
<body>
<!-- <header class="header">
    <iframe src="../기본템플렛/header.html" width="100%" height="350px" frameborder="0"></iframe>
</header> -->
<section>
    <div class="sidetab">
        <div class="sidewrap">
            <div class="rolechangebtn">
                <button class="supporterbtn focusbtn">서포터</button>
                <button class="creatorbtn">크리에이터</button>
            </div>
            <div class="roleimage">
                <img src="/static/image/profilePic.jpeg" alt="profile picture">
            </div>
            <div class="sidemenu">
                <p>내 정보</p>
                <button>- 프로필</button>
                <button>- 알림 센터</button>
                <p>프로젝트</p>
                <button>- 참여 프로젝트</button>
                <button>- 관심 프로젝트</button>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="projectInfo-outerlayer">
            <div class="orderList">주문 조회</div>
            <div class="projectInfo-container">
                <img class="image1" src="/static/image/Parrot-cleaning-Ashton-28_2.webp" alt="parrot product">


                <div class="projectDetails-container">
                    <div class="projectName-container">
                        <div class="projectName">상품명</div>
                        <div class="projectNameInfo">상품명</div>
                    </div>
                    <div class="projectDescription-container">
                        <div class="projectDescriptionName">상품정보</div>
                        <div class="projectDescriptionInfo">상품정보</div>
                    </div>
                    <div class="orderNo-container">
                        <div class="orderNo">주문번호</div>
                        <div class="orderNoInfo">주문번호</div>
                    </div>
                    <div class="orderDate-container">
                        <div class="orderDate">주문일자</div>
                        <div class="orderDateInfo">주문일자</div>
                    </div>
                    <div class="paymentDate-container">
                        <div class="paymentDate">결제일</div>
                        <div class="paymentDateInfo">결제일</div>
                    </div>
                    <div class="paymentAmount-container">
                        <div class="paymentAmount">결제금액</div>
                        <div class="paymentAmountInfo">결제금액</div>
                    </div>
                </div>
                <a href="" class="confirmation-container">
                    <button type="submit">확인</button>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- <footer class="footer">
    <iframe src="./기본템플렛/footer.html" width="100%" height="200px" frameborder="0">
</footer> -->
</body>
</html>