.account-intro-login {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.AccountContainer_title{
    display: flex;
    justify-content: center;
}

.findPasswordInfo {
    margin: 0 10px;
    display: flex;
    justify-content: center;
}

.findPasswordInfo2 {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.registPasswordField {
    align-self: stretch;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
}

.passwordField {
    height: 58px;
    width: 354px;
    align-self: stretch;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    font-size: large;
    
}

.registPasswordCheckField {
    align-self: stretch;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
}

.passwordCheckField {
    height: 58px;
    width: 354px;
    align-self: stretch;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    font-size: large;
}


.resetPasswordButton {
    display: flex;
    justify-content: center;
}

.resetPasswordSubmitButton {
    height: 58px;
    width: 354px;
    background-color: #fca652;
    border: 1px solid #fca652;
    box-sizing: border-box;
    border-radius: 5px;
    
}

.resetPasswordSubmitButton:hover {
    background-color: #ff8000;
    border: 1px solid #ff8000;
    box-sizing: border-box;
    border-radius: 5px;
  }

.resetPasswordSubmitButtonText {
    position: relative;
    color: #fff;
    text-align: center;
    font-size: large;
    
}



