
.mainPageContainer {
  display: flex;
  flex-direction: column;  
  align-items: center;    
}

.categoryWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  margin: auto;
  width: 1400px;
}

.mainCategory button, .subCategory button, .filter button {
  border:none;
  background-color: #ffffff;
}

.mainCategory {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 50px;
} 

.subCategory {
  width: 70%;
  margin:auto;
  margin-top: 40px;
  margin-bottom: 70px;
  display: none;
}
.d-flex {
  display:flex;
  justify-content: space-between;
}

.mainCategory img {
  width: 65px;
  height: 65px;
}

.subCategory img {
  width: 55px;
  height: 55px;
}

.filter{
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
}

.filter button {
  font-size:16px;
  margin-right:20px;
}

.mainContentContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 100%;
}

