.eva-cate {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.eva-cate td {
    width: 25%;
}

.pjThumbnail {
    width: 640px;
    height: 404px;
}
.main, .evaBox, .evaTable {
    width:700px;
    white-space: normal;
    /*word-break:break-all;*/
    table-layout:fixed;
}

/*td {*/
/*    padding: 10px;*/
/*    border: 1px solid #666666;*/
/*}*/