
.account-intro-login {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.AccountContainer_title {
    display: flex;
    justify-content: center;

}


.registIdField {
    align-self: stretch;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
}

.idField {
    height: 58px;
    width: 413px;
    align-self: stretch;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    font-size: large;
}

.idDuplicateCheckButton {
    width: 90px;
    background-color: #fff;
    border-radius: 5px;
    font-size: medium;
}

.registPasswordField {
    align-self: stretch;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    margin-bottom: 15px;

}

.passwordField {
    height: 58px;
    width: 503px;
    align-self: stretch;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    font-size: large;
}

.registPasswordCheckField {
    align-self: stretch;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    margin-bottom: 15px;

}

.passwordCheckField {
    height: 58px;
    width: 503px;
    align-self: stretch;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    font-size: large;
}

.registNicknameField {
    align-self: stretch;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
}

.nicknameField {
    height: 58px;
    width: 503px;
    align-self: stretch;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    font-size: large;
}

.registNameField {
    align-self: stretch;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    margin-bottom: 15px;

}

.nameField {
    height: 58px;
    width: 503px;
    align-self: stretch;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    font-size: large;
}

.registPhoneNumberField {
    align-self: stretch;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    margin-bottom: 15px;

}

.phoneNumberField {
    height: 58px;
    width: 503px;
    align-self: stretch;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    font-size: large;
}

.registEmailField {
    align-self: stretch;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
}

.emailField {
    height: 58px;
    width: 130px;
    align-self: stretch;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    font-size: large;
}

.emailField2 {
    height: 58px;
    width: 130px;
    align-self: stretch;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    font-size: large;
}

#atSign {
    font-size: large;
    margin: 0 10px;
}

.emailSelect {
    width: 115px;
    height: 58px;

    background-color: #fff;
    border-radius: 5px;
    font-size: medium;
    text-align-last: center;
}

.emailSendButton {
    height: 58px;
    width: 90px;
    background-color: #fff;
    border-radius: 5px;
    font-size: medium;
}

.registEmailCheckField {
    align-self: stretch;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
}

.emailCertificationNumberField {
    height: 58px;
    width: 413px;
    align-self: stretch;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    font-size: large;
}

.certificationNumberCheckButton {
    width: 90px;
    background-color: #fff;
    border-radius: 5px;
    font-size: medium;
}

.agreement {
    display: flex;
    align-items: center;
    gap: 20px;
}

.agreement-contents {
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    box-sizing: border-box;
    width: 503px;
    display: flex;
    flex-direction: column;
}

.item {
    margin-bottom: 0px;
    margin-top: 0px;
}

.term {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;

}

.individualCheckbox {
    margin-left: 20px;
    width: 20px;
    height: 20px;
}

.agreementName {
    margin-left: 20px;
}

.view {
    margin-left: auto;
    margin-right: 30px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

.registButton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.registSubmitButton {
    height: 58px;
    width: 469px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fca652;
    border: 1px solid #fca652;

}

.registSubmitButton.disabled {
    background-color: #d5d5d5;
    border: 1px solid #d5d5d5;
}

.registSubmitButton.enabled:hover {
    background-color: #ff8000;
    border: 1px solid #ff8000;
    box-sizing: border-box;
    border-radius: 5px;
}

.registSubmitButtonText {
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 25px;

}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 3px solid #fca652;
    border-radius: 30px;
    height: 100px;
    width: 300px;

}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalText {
    align-items: center;
    margin: 10px 20px;
}

.modal1 {
    display: none; /* 기본적으로 모달을 숨김 */
    position: fixed; /* 고정 위치 */
    z-index: 1; /* 다른 요소 위에 위치 */
    left: 0;
    top: 0;
    width: 100%; /* 모달 전체 너비 */
    height: 100%; /* 모달 전체 높이 */
    overflow: auto; /* 내용이 넘칠 경우 스크롤 생성 */
    background-color: rgba(0,0,0,0.4); /* 배경에 약간의 투명도 부여 */
}

.modalContent1 {
    background-color: #fefefe;
    margin: 15% auto; /* 모달 위치 조정 */
    padding: 20px;
    width: 80%; /* 모달 내용 너비 */
    max-height: 70%; /* 모달 내용 최대 높이 설정 */
    overflow-y: auto; /* 내용이 넘칠 경우 세로 스크롤 생성 */
    border: 3px solid #fca652;
    border-radius: 30px;
}



