.account-intro-login {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.AccountContainer_title{
    display: flex;
    justify-content: center;

}


.registIdField {
    align-self: stretch;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
}

.idField {
    height: 58px;
    width: 354px;
    align-self: stretch;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    font-size: large;
}

.idDuplicateCheckButton {
    width: 115px;
    background-color: #fff;
    border-radius: 5px;
    font-size: medium;
}

.registPasswordField {
    align-self: stretch;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
    
}

.passwordField {
    height: 58px;
    width: 469px;
    align-self: stretch;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    font-size: large;
}

.registPasswordCheckField {
    align-self: stretch;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
    
}

.passwordCheckField {
    height: 58px;
    width: 469px;
    align-self: stretch;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    font-size: large;
}

.registNicknameField {
    align-self: stretch;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
}

.nicknameField {
    height: 58px;
    width: 469px;
    align-self: stretch;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    font-size: large;
}

.registNameField {
    align-self: stretch;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
    
}

.nameField {
    height: 58px;
    width: 469px;
    align-self: stretch;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    font-size: large;
}

.registPhoneNumberField {
    align-self: stretch;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
    
}

.phoneNumberField {
    height: 58px;
    width: 469px;
    align-self: stretch;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    font-size: large;
}

.registEmailField {
    align-self: stretch;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
}

.emailField {
    height: 58px;
    width: 239px;
    align-self: stretch;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    font-size: large;
}

.emailSelect {
    width: 115px;
    background-color: #fff;
    border-radius: 5px;
    font-size: medium;
    text-align-last: center;
}

.emailSendButton {
    width: 115px;
    background-color: #fff;
    border-radius: 5px;
    font-size: medium;
}

.registEmailCheckField {
    align-self: stretch;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
}

.emailCertificationNumberField {
    height: 58px;
    width: 354px;
    align-self: stretch;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    font-size: large;
}

.certificationNumberCheckButton {
    width: 115px;
    background-color: #fff;
    border-radius: 5px;
    font-size: medium;
}

.agreement {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .agreement-contents {
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    box-sizing: border-box;
    width: 469px;
  }
  
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .term {
    display: flex;
    align-items: center;
    
  }
  
  .icon {
    margin-left: 20px;
    width: 30px;
    height: 30px;
  }
  
  .agreementName{
    margin-left: 20px;
  }
  
  .view {
    margin-right: 30px;
  }

.registButton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.registSubmitButton {
    height: 58px;
    width: 469px;
    box-sizing: border-box;
    border-radius: 5px;
    
}

.registSubmitButton.disabled {
    background-color: #d5d5d5;
    border: 1px solid #d5d5d5;
}

.registSubmitButton.enabled {
    background-color: #fca652;
    border: 1px solid #fca652;
}


.registSubmitButton.enabled:hover {
    background-color: #ff8000;
    border: 1px solid #ff8000;
    box-sizing: border-box;
    border-radius: 5px;
  }

.registSubmitButtonText {
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 25px;
    
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modalContent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 3px solid #fca652;
    border-radius: 30px;
    height: 100px;
    width: 300px;

}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalText {
    align-items: center;
    margin: 10px 20px;
}




