<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/logout_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8" />
</head>

<th:block layout:fragment="content">
    <button onclick="location.href='/project/projectPage'">펀딩 상세페이지(하드코딩)</button>
    <button onclick="location.href='/project/projectDetail'">펀딩 상세페이지(DB연결)</button>
    <button onclick="location.href='/project/projectRegist'">펀딩 등록</button>
</th:block>

</html>