<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/noNavLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8" />
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>

<th:block layout:fragment="content">

    <div sec:authorize="hasAnyAuthority('SUPPORTER')">서포터</div>
    <button onclick="location.href='/member/regist'">회원가입</button>

    <button th:onclick="|location.href='@{/evaluation/evacalculationlist}'|">- 후원금 최종 정산 심사</button>

    <button onclick="location.href='/project/projectRegist'">펀딩 등록</button>
    <button onclick="location.href='/project/projectImage'">이미지 등록</button>
    <button onclick="location.href='/evaluation/creatorEvaluationRegist'">개인 크리에이터 등록</button>
    <button onclick="location.href='/evaluation/creatorBusinessEvaluationRegist'">사업자 크리에이터 등록</button>
    <button onclick="location.href='/evaluation/manager/creatorEvaluationList'">크리에이터 심사 목록</button>
    <button onclick="location.href='/member/mypage/ongoingProject'">진행중인 프로젝트</button>


    <form th:action="@{/auth/logout}" method="post">
        <button>로그아웃</button>
    </form>
    <form method="get" action="/order/orderpayment">
        <button>주문결제</button>
    </form>
    <form method="get" action="/coupon">
        <button>쿠폰</button>
    </form>

    <form method="post" action="/ontoKakaoPayPage">
        <input type="text" name = "name">
        <button>카카오페이 임시</button>
    </form>

    <form method="get" action="/ontoKakaoPayPage">
        <button>카카오페이</button>
    </form>

<!--    <form method="get" action="/kakaoPay">-->
<!--        <button>카카오페이</button>-->
<!--    </form>-->

    <form method="get" action="/interest">
        <button>participate</button>
    </form>

<!--    <form method="get" action="/orderpayment">-->

<!--    </form>-->
    <div class="mainPageContainer">
        <section class="banner">

            <img class="bannerImage" th:src="@{/image/banner1.png}">
        </section>

        <section>
        <div class="gridContainer">

            <div class="mainContentContainer">

                <div class="mainContentWrapper" th:each="allProject : ${ selectAllProjectList }">

                    <a th:href="@{|/project/projectDetail/${allProject.proCode}|}">

                        <div class="thumbnailImageContainer">

                            <img class="thumbnailImage" th:src="@{/image/detail_main_image1.png}">
                        </div>

                        <div class="mainContentInfoBoxContainer">
                            <h3>
                                <div class="achieve-rate">
                                    <span class="infoStringWrapper" th:text="${ allProject.achRate }"></span>
                                    <span class="ach">% 달성</span>
                                </div>
                            <strong class="title" th:text="${ allProject.proName }"></strong>
                            </h3>
<!--                            <p class="MainContentCreaterNameWrapper">크리에이터 이름</p>-->
                        </div>
                    </a>

                </div>

            </div>
        </div>
        </section>
    </div>
</th:block>

</html>