<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/noNavLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8" />
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>

<th:block layout:fragment="content">

    <div class="mainPageContainer">
        <section class="banner">

            <img class="bannerImage" th:src="@{/image/banner1.png}">
        </section>

        <section>
        <div class="gridContainer">

            <div class="mainContentContainer">

                <div class="mainContentWrapper" th:each="allProject : ${ selectAllProjectList }">

                    <a th:href="@{|/project/projectDetail/${allProject.proCode}|}">

                        <div class="thumbnailImageContainer">

                            <img class="thumbnailImage" th:src="@{|/image/store/${allProject.image[0].proImgName}|}">
                        </div>

                        <div class="mainContentInfoBoxContainer">
                            <h3>
                                <div class="achieve-rate">
                                    <span class="infoStringWrapper" th:text="${ allProject.achRate }"></span>
                                    <span class="ach">% 달성</span>
                                </div>
                            <strong class="title" th:text="${ allProject.proName }"></strong>
                            </h3>
<!--                            <p class="MainContentCreaterNameWrapper">크리에이터 이름</p>-->
                        </div>
                    </a>

                </div>

            </div>
        </div>
        </section>
    </div>
</th:block>

</html>