<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/noNavLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/failedPage.css">
</head>
<th:block layout:fragment="content">
<div class="section">
    <div class="text">
        <div class="failedMessage-container">
            <div class="failedMessage">
                <span>주문처리에 실패</span>하여<br>
                주문을 완료하지 못하였습니다
            </div>
        </div>
        <div class="failedMessageDescription">
            <span>주문 정보 조회 실패</span><br>
            재시도를 하신 후에도 같은 오류가 발생한다면 고객센터로 문의하여 주시기 바랍니다
        </div>
    </div>
</div>
</th:block>
</html>