<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/fourthTermsAndConditions.css">
</head>
<body>
    <div class="fourthTermsAndConditions">
        <div class="termsAndConditions-container">
            <div class="termsAndConditionsHeader">
                <div class="termsAndConditionsTitle">후원 유의 사항 확인</div>
                <a class="close" href="">
                    <img class="close" src="/static/image/close.png">
                </a>
            </div>
            <div class="termsAndConditionsContext-container">
                <div class="termsAndConditionsContext">
                    <pre>
후원은 구매가 아닌 창의적인 계획에 자금을 지원하는 일입니다.
텀블벅에서의 후원은 아직 실현되지 않은 프로젝트가 실현될 수 있도록 제작비를 후원하는 과정으로, 기존의 상품 또는 용역을 거래의 대상으로 하는 매매와는 차이가 있습니다. 따라서 전자상거래법상 청약철회 등의 규정이 적용되지 않습니다.
프로젝트는 계획과 달리 진행될 수 있습니다.
예상을 뛰어넘는 멋진 결과가 나올 수 있지만 진행 과정에서 계획이 지연, 변경되거나 무산될 수도 있습니다. 본 프로젝트를 완수할 책임과 권리는 창작자에게 있습니다.
                    </pre>
                </div>
            </div>
            <div class="agree-container">
                <button class="agree-container1">
                    <div class="agree">동의하기</div>
                </button>
            </div>
        </div>
    </div>
</body>
</html>