<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/noNavLayout}">
<!--      layout:decorate="~{layouts/logout_supporter_layout}"-->

<head>
    <meta charset="UTF-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>orderPayment</title>
    <link rel="stylesheet" th:href="@{/css/orderpayment.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,400;0,600;0,700;1,400&display=swap"/>
    <script src="/js/orderpayment.js"></script>
</head>
<!-- header
<header th:class="header">
    <iframe src="/static/css/common.css" th:width="100%" th:height="100%" th:frameborder="0"></iframe>
</header>
 section -->
<th:block layout:fragment="content">
<section>
    <div class="orderPayment-headers">
        <div class="orderPayment-header">주문 / 결제</div>
        <div class="processBytheSide">
            <b>주문 / 결제 </b>
            <span class="span">&nbsp;&gt; 완료</span> <!--&gt;-->
        </div>
    </div>
    <div class="productInfo">주문제품 정보</div>

    <div class="ProductInformation" th:each="project : ${ selectProject }">
        <img class="productImage" loading="lazy" alt="강아지 제품에 대한 정보 소개" src="/image/dogItem.png">
        <div class="productInfo-container">
            <div class="productName-container">
                <div class="projectName">>프로젝트명</div>
                <div class="projectNameInfo" th:text="${ project.proName }">프로젝트명</div>
            </div>
            <div class="rewardName-container">
                <div class="rewardName">리워드명</div>
                <div class="rewardNameInfo" th:text="${ project.rewName }">리워드명</div>
            </div>

            <div class="NoOfProject-container">
                <div class="NoOfProject">갯수</div>
                <div class="deliverFeeAmount" th:text="${ project.rewSf }">주문한 수량</div>
            </div>
            <div class="coupon-container">
                <div class="coupon">쿠폰 할인</div>
                <div class="couponDiscount" >쿠폰 할인</div>
            </div>
            <div class="orderFee-container">
                <div class="orderFee">주문 금액</div>
                <div class="orderAmount">주문 금액</div>
            </div>
        </div>
    </div>

    <hr> <!-- 선 이미지 추가할것...!! -->

    <!-- 펀딩 서포터, 리워드 배송기 section -->
    <div class="fundingSupporterAndRewardDestination">
        <div class="fundingSupporter-container">
            <div class="fundingSupporter-title">펀딩 서포터</div>
            <div class="fundingSupporter-container2">
                <div class="supporterName-container">
                    <div class="supporterName">이름</div>
                    <div class="supporterNameInputtedValue" th:text="${ memberId }">이름</div>
                </div>
                <div class="supporterEmail-container">
                    <div class="supporterEmail">이메일</div>
                    <div class="supporterEmailInputtedValue" th:text="${ memberEmail }">이메일</div>
                </div>
                <div class="supporterPhoneNumber-container">
                    <div class="supporterPhoneNumber">휴대폰 번호</div>
                    <div class="supporterPhoneNumberInputtedValue" th:text="${ memberPhone}">010-XXXX-XXXX</div>
                </div>

                <div class="tNcPayment-container">
                    <input type="checkbox" class="checkbox">
                    <div class="conditions">(필수) 펀딩 진행에 대한 새소식 및 결제 관련 안내를 받습니다.</div>
                </div>
            </div>
        </div>


        <form class="rewardDestination-container" action="" method="post">
            <div class="rewardDestination-title">리워드 배송지</div>
            <div class="rewardDestination-container2">
                <div class="rewardGetPersonName-container">
                    <div class="rewardGetPersonName">수취인명</div>
                    <input class="rewardGetPersonNameInfo" placeholder="이름" th:type="text" th:name="recipient">
                </div>
                <div class="rewardGetPersonAddress-container">
                    <div class="rewardGetPersonAddress">주소</div>
                    <input class="rewardGetPersonAddressInfo" placeholder="주소" type="text">
                </div>
                <div class="rewardToNotify-container">
                    <div class="rewardToNotify">배송 시 요청 사항</div>
                    <input class="rewardToNotifyText" placeholder="ex) 부재시 경비실에 보관해주세요." type="text">
                </div>
            </div>
        </form>
    </div>

    <hr>

    <!-- 결제 수단 + 최종 결제 금액 section -->

    <div class="payment">
        <div class="paymentMethod-container">
            <div class="paymentMethod">결제 수단</div>
            <img class="kakaopay" loading="lazy" alt="kakaopay" th:src="@{/static/image/kakaopayIcon.png}">
        </div>
        <div class="finalPayment-container">
            <div class="finalPayment">최종 결제 금액</div>
            <div class="finalPaymentAmount">1xx,xxx원 <span>(배송비 : ${ rewSf } 포함)</span></div>
        </div>
    </div>

    <hr>

    <!-- 약관 동의 section -->

    <div class="agreeTotNc-allcontainer">
        <div class="agreeToTermsAndConditions">약관 동의</div>
        <div class="agreeToTermsAndConditions-container">
            <div class="agreeToAll-container">
                <input type="checkbox" class="agreeToAllCheckbox">
                <div class=agreeToAll>전체 동의</div>
            </div>
            <hr>
            <div class="tNcPaymentMethods-container">
                <input type="checkbox" class="subCheckbox1">
                <div class="tNcPaymentMethods">구매 조건, 결제 진행 . 및결제 대행 서비스 동의 (필수)</div>
                <div class="see"><a href="TermsAndConditions/first.html" class="seeClass">보기</a></div>
            </div>
            <div class="tNc3rdParty-container">
                <input type="checkbox" class="subCheckbox2">
                <div class="tNc3rdParty">개인정보 제3자 제공 동의 (필수)</div>
                <div class="see"><a href="TermsAndConditions/second.html" class="seeClass">보기</a></div>
            </div>
            <div class="tNcResponsible-container">
                <input type="checkbox" class="subCheckbox3">
                <div class="tNcResponsible">책임 규정에 대한 동의 (필수)</div>
                <div class="see"><a href="TermsAndConditions/third.html" class="seeClass">보기</a></div>
            </div>
            <div class="tNchoowon-container">
                <input type="checkbox" class="subCheckbox4">
                <div class="tNchoowon">후원 유의 사항 확인 (필수)</div>
                <div class="see"><a th:href="@{/templates/contents/order/TermsAndConditions/fourth.html}" class="seeClass">보기</a></div>
            </div>
        </div>
    </div>

    <div class="paymentButton-container">
        <form href="successPage/successPage.html" class="ontoPaymentPage" method="post" action="/kakaoPay">
            <button type="submit" class="ontoPayment">결제하기</button>
        </form>
    </div>
</section>
<!-- footer -->
<!--<footer th:class="footer">-->
<!--    <iframe src="/static/css/common.css" th:height="100%" th:width="100%" th:frameborder="0"></iframe>-->
<!--</footer>-->
</th:block>

</html>