<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/noNavLayout}">
<!--      layout:decorate="~{layouts/logout_supporter_layout}"-->

<head>
    <meta charset="UTF-8">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>orderPayment</title>
    <link rel="stylesheet" th:href="@{/css/orderpayment.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/firstTermsAndConditions}">
    <link rel="stylesheet" th:href="@{/css/firstTermsAndConditions}">
    <link rel="stylesheet" th:href="@{/css/secondTermsAndConditions}">
    <link rel="stylesheet" th:href="@{/css/thirdTermsAndConditions}">
    <link rel="stylesheet" th:href="@{/css/fourthTermsAndConditions}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script src="/js/orderpayment.js"></script>

    <!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,400;0,600;0,700;1,400&display=swap"/>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
</head>

<th:block layout:fragment="content">

    <section>
        <form id="myForm" method="post" th:action="@{/ontoKakaoPayPage}">
            <div class="orderPayment-headers">
                <div class="orderPayment-header">주문 / 결제</div>
                <div class="processBytheSide">
                    <b>주문 / 결제</b>
                    <span class="span">&nbsp;&gt; 완료</span> <!--&gt;-->
                </div>
            </div>
            <div class="productInfo">주문제품 정보</div>

            <div class="ProductInformation">
                <img class="productImage" loading="lazy" alt="강아지 제품에 대한 정보 소개" src="/image/dogItem.png">
                <div class="productInfo-container">
                    <div class="productName-container">
                        <div class="projectName">프로젝트명</div>
                        <div class="projectNameInfo" th:text="${ rewardInfo.getProName() }">프로젝트명</div>
                    </div>
                    <div th:each="rewardOptionsInformation : ${ rewardOptInfo}">
                        <div class="rewardName-container">
                            <div class="rewardName">리워드명</div>
                            <div class="rewardNameInfo" th:text="${ rewardOptionsInformation.getRewName() }">리워드명</div>
                        </div>

                        <div class="rewardName-container">
                            <div class="rewardName">리워드 옵션들</div>
                            <div class="rewardOptions">
                                <div class="rewardNameInfo" th:text="${ rewardOptionsInformation.getRewOptName() + ' : ' + rewardOptionsInformation.getRewOptVal() } + '  ('"></div>
                                <div class="rewardOptionsInfo" th:text="${ rewardOptionsInformation.getNoOfOrder() } + '개)'"></div>
                            </div>
                        </div>
                        <br>
                    </div>

                    <div class="NoOfProject-container">
                        <div class="NoOfProject">쿠폰</div>
                        <select id="couponAmountId" class="couponAmount">
                            <option value="0" class="couponDiscount">쿠폰을 선택해주세요</option>
                                    <th:block th:each="coupon : ${couponInfo}">
                                    <option th:id="${ coupon.couCode}" th:text="${coupon.couName}" th:value="${ coupon.couAmount }"> <!-- Use th:value for the coupon amount -->
                                        <span th:text="${coupon.couName}"></span> <!-- Use th:text to display the coupon name -->
                                    </option>
                            </th:block>
                        </select>
                    </div>

                    <div class="orderFee-container">
                        <div class="orderFee">주문 금액</div>
                        <div class="orderAmount" id="orderAmountId" th:text="${ rewardInfo.getOrderAmount() } + '원'">주문 금액</div>
                    </div>
                </div>
            </div>

            <hr>
            <!-- 펀딩 서포터, 리워드 배송기 section -->
            <div class="fundingSupporterAndRewardDestination">
                <div class="fundingSupporter-container">
                    <div class="fundingSupporter-title">펀딩 서포터</div>
                    <div class="fundingSupporter-container2">
                        <div class="supporterName-container">
                            <div class="supporterName">이름</div>
                            <div class="supporterNameInputtedValue" th:text="${ memberInfo.memberName}"></div>
                        </div>
                        <div class="supporterEmail-container">
                            <div class="supporterEmail">이메일</div>
                            <div class="supporterEmailInputtedValue" th:text="${ memberInfo.memberEmail}"></div>
                        </div>
                        <div class="supporterPhoneNumber-container">
                            <div class="supporterPhoneNumber">휴대폰 번호</div>
                            <div class="supporterPhoneNumberInputtedValue" th:text="${ memberInfo.memberPhone}"></div>

                        </div>
                    </div>
                </div>

                <div class="rewardDestination-container"> <!-- action="경로를 입력하면 된다."-->
                    <div class="rewardDestination-title">리워드 배송지</div>
                    <div class="rewardDestination-container2">
                        <div class="rewardGetPersonName-container">
                            <div class="rewardGetPersonName">수취인명</div>
                            <input class="rewardGetPersonNameInfo" placeholder="이름" type="text" name="recipient">
                        </div>
                        <div class="rewardGetPersonAddress-container">
                            <div class="rewardGetPersonAddress">주소</div>
                            <input class="rewardGetPersonAddressInfo" placeholder="주소" type="text" name="address">
                        </div>
                        <div class="rewardToNotify-container">
                            <div class="rewardToNotify">배송 시 요청 사항</div>
                            <input class="rewardToNotifyText" placeholder="ex) 부재시 경비실에 보관해주세요." type="text" name="request">
                        </div>
                    </div>
                </div>
            </div>

            <hr>
                    <!-- 결제 수단 + 최종 결제 금액 section -->
            <div class="payment">
                <div class="paymentMethod-container">
                    <div class="paymentMethod">결제 수단</div>
                    <img class="kakaopay1" loading="lazy" alt="kakaopay" th:src="@{/image/kakaopayIcon.png}">
                </div>
                <div class="finalPayment-container">
                    <div class="finalPayment">최종 결제 금액</div>
                    <div class="includingSf">
                        <!--                    <div id="finalPaymentAmountId" class="finalPaymentAmount" th:text="${ rewardInfo.orderAmount + 2500 } + '원'"></div>-->
                        <div id="finalPaymentAmountId" class="finalPaymentAmount" th:text="${ rewardInfo.getOrderAmount() + 2500 + '원'}"></div> <!-- 쿠폰을 선택을 하면 비동식으로 값이 수정이 됨 .... (배송비는 아직 미호팜.. ㅎ) -->
                        <div class="deliverFee">*배송비 포함*</div>
                    </div>
                </div>
            </div>
            <hr>
            <div>
                <!-- 약관 동의 section -->
                <div class="agreeTotNc-allcontainer">
                    <div class="agreeToTermsAndConditions">약관 동의</div>
                    <div class="agreeToTermsAndConditions-container">
                        <div class="agreeToAll-container">
                            <input type="checkbox" class="agreeToAllCheckbox">
                            <div class=agreeToAll>전체 동의</div>
                        </div>
                        <hr>
                        <div class="tNcPaymentMethods-container">
                            <input type="checkbox" class="subCheckbox1">
                            <div class="container1">
                                <div class="tNcPaymentMethods">구매 조건, 결제 진행 . 및결제 대행 서비스 동의 (필수)</div>
                                <button type="button" class="btn btn11 btn-lg btn-block mb-3" id="tNc1" data-target="myModal1">보기</a></button>
                            </div>
                        </div>
                        <div class="tNc3rdParty-container">
                            <input type="checkbox" class="subCheckbox2">
                            <div class="container1">
                                <div class="tNc3rdParty">개인정보 제3자 제공 동의 (필수)</div>
                                <button type="button" class="btn btn21 btn-lg btn-block mb-3" id="tNc2" data-target="myModal2">보기</a></button>
                            </div>
                        </div>
                        <div class="tNcResponsible-container">
                            <input type="checkbox" class="subCheckbox3">
                            <div class="container1">
                                <div class="tNcResponsible">책임 규정에 대한 동의 (필수)</div>
                                <button type="button" class="btn btn31 btn-lg btn-block mb-3" id="tNc3" data-target="myModal3">보기</a></button>
                            </div>
                        </div>
                        <div class="tNchoowon-container">
                            <input type="checkbox" class="subCheckbox4">
                            <div class="container1">
                                <div class="tNchoowon">후원 유의 사항 확인 (필수)</div>
                                <button type="button" class="btn btn41 btn-lg btn-block mb-3" id="tNc4" data-target="myModal4">보기</a></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="paymentButton-container">
                    <div class="ontoPaymentPage">
                        <!--                <input type="text" value="">-->
                        <button type="submit" class="ontoPayment">결제하기</button>
                    </div>
                </div>
            </div>

            <div id="myModal1" class="modal">
                <div class="modalContent">
                    <div class="modalText1">
                        <span class="close">&times;</span>
                        <div th:replace="~{ /contents/order/first :: firsttNc}"></div>
                    </div>
                </div>
            </div>

            <div id="myModal2" class="modal">
                <div class="modalContent">
                    <div class="modalText2">
                        <span class="close">&times;</span>
                        <div th:replace="~{ /contents/order/second :: secondtNc}"></div>
                    </div>
                </div>
            </div>

            <div id="myModal3" class="modal">
                <div class="modalContent">
                    <div class="modalText3">
                        <span class="close">&times;</span>
                        <div th:replace="~{ /contents/order/third :: thirdtNc}"></div>
                    </div>
                </div>
            </div>

            <div id="myModal4" class="modal">
                <div class="modalContent">
                    <div class="modalText4">
                        <span class="close">&times;</span>
                        <div th:replace="~{ /contents/order/fourth :: fourthtNc}"></div>
                    </div>
                </div>
            </div>



        </form>
    </section>
</th:block>
</html>