<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/noNavLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/successPayment.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <script src="/js/successPage.js"></script>
</head>
<body>
<th:block layout:fragment="content" class="section">
<div class="display">
    <div class="image">
        <img class="checkboxImage" src="/image/checkcircle.png">
    </div>

    <div class="successMessage">
        <div class="successMessage-container">
            <div class="successTitle">
                <div class="successMessageTitle" th:text="${ member }"></div>
                <div class="restOfTheMessage">님의 주문이 완료 되었습니다</div>
            </div>
            <div class="successMessageDescription">주문내역 및 배송에 관한 안내는 마이페이지의 <a href="#" id="participateProjectLink">참여 프로젝트</a> 에서 확인 가능합니다.</div>
        </div>
        <div class="successSubMessage-container">
            <div class="successSubMessageContext">
                <div class="registNoInfo">
                    <div class="registNoName">주문번호<span> : </span></div>
                    <div class="registNo" th:text="${ partner_order_id }"></div>
                </div>

                <div class="registDateInfo">
                    <div class="registDateName">결제일시<span> : </span></div>
                    <div class="registDate" th:text="${ orderedTime }"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</th:block>
</body>
</html>