<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="successPage.css">
</head>
<body>
<!-- header -->
<!-- <header class="header">
    <iframe src="../기본템플렛/header.html" width="100%" height="400px" frameborder="0"></iframe>
</header> -->
<!-- section -->
<div class="section">
    <div class="image">
        <img class="checkboxImage" src="../../기본템플렛/image/checkcircle.png">
    </div>
    <div class="successMessage">
        <div class="successMessage-container">
            <div class="successMessageTitle">냠냠이님의 주문이 완료 되었습니다</div>
            <div class="successMessageDescription">주문내역 및 배송에 관한 안내는 마이페이지의 <span>참여 프로젝트</span> 에서 확인 가능합니다.</div>
        </div>
        <div class="successSubMessage-container">
            <div class="successSubMessageContext">
                <div class="registNo">주문번호 : <span>2024025-XXXXXXXX</span></div>
                <div class="registDate">주문일자 : <span>2024-02-25 HH:mm:ss</span></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>