<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/thirdTermsAndConditions.css">
</head>
<body th:fragment="thirdtNc">
    <div class="thirdTermsAndConditions">
        <div class="termsAndConditions-container">
            <div class="termsAndConditionsHeader">
                <div class="termsAndConditionsTitle">책임 규정에 대한 동의</div>
            </div>
            <div class="termsAndConditionsContext-container">
                <div class="termsAndConditionsContext">
                    <pre>
COMPANIMAL은 플랫폼을 제공하는 중개자로 펀딩을 받는 당사자가 아닙니다. 보상품 제공 등에 관한 지연, 제품의 하자 등으로 인한 일체의 법적책임은 펀딩을 받는 크리에이터가 부담합니다. 하지만, COMPANIMAL은 크리에이터와 서포터 간의 원활한 의사소통을 위해 최선의 노력을 다하고 있습니다.
                    </pre>
                </div>
            </div>
<!--            <div class="agree-container" href="">-->
<!--                <button class="agree-container1">-->
<!--                    <div class="agree">동의하기</div>-->
<!--                </button>-->
<!--            </div>-->
        </div>
    </div>
</body>
</html>